@import "~@angular/material/theming";

@mixin global-theme($theme) {
  $background: map-get($theme, "background");
  $foreground: map-get($theme, "foreground");
  $is-dark-theme: map-get($theme, "is-dark");

  @if $is-dark-theme {
    background-color: mat-color($background, "card");
    color: mat-color($foreground, "text");
  } @else {
    body {
      background-color: mat-color($background, "card");
      color: mat-color($foreground, "text");
    }
  }
}
