@import "~@angular/material/theming";

@mixin submenu-theme($theme) {
  $foreground: map-get($theme, "foreground");

  .submenu {
    .updated-at {
      color: mat-color($foreground, "secondary-text");
    }
  }
}

@mixin submenu-typography($config) {
  .submenu {
    .updated-at {
      font-size: mat-font-size($config, "caption");
      font-weight: mat-font-weight($config, "caption");
    }
  }
}
