@import "~@angular/material/theming";

@mixin vtuber-pages-theme($theme) {
  $background: map-get($theme, "background");
  $foreground: map-get($theme, "foreground");
  $is-dark-theme: map-get($theme, "is-dark-theme");

  $background-shadow: if(
    $is-dark-theme,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );

  .vtuber-pages {
    .number {
      .caption {
        color: mat-color($foreground, "secondary-text");
      }
    }

    .profile {
      background-color: $background-shadow;
    }
  }
}

@mixin vtuber-pages-typography($config) {
  .vtuber-pages {
    .info {
      .name {
        font-size: mat-font-size($config, "title");
        font-weight: mat-font-weight($config, "title");
      }
    }

    .number {
      .value {
        font-size: mat-font-size($config, "headline");
        font-weight: mat-font-weight($config, "display-1");
      }

      .caption {
        font-size: mat-font-size($config, "caption");
        font-weight: mat-font-weight($config, "body-2");
      }
    }

    .chart-title {
      font-size: mat-font-size($config, "subheading-2");
      font-weight: mat-font-weight($config, "subheading-2");
    }
  }
}
