<div class="stream-time-chart" cdkScrollable>
  <svg
    #svg
    [attr.width]="leftMargin + months.length * step"
    [attr.height]="180"
    holdGesture
    (hold)="tryOpenTooltip($event)"
    (release)="closeTooltip()"
  >
    <line
      *ngFor="let v of yTicks"
      class="line"
      [attr.x1]="0"
      [attr.y1]="height - yScale(v)"
      [attr.x2]="'100%'"
      [attr.y2]="height - yScale(v)"
    ></line>

    <g
      *ngFor="let month of months; index as idx"
      [style.opacity]="popperIdx === -1 || popperIdx === idx ? 1 : 0.4"
    >
      <rect
        rx="2"
        ry="2"
        fill="#855CF8"
        [attr.width]="barWidth"
        [attr.height]="yScale(month[1])"
        [attr.x]="leftMargin + idx * step"
        [attr.y]="height - yScale(month[1])"
      ></rect>

      <line
        class="line"
        [attr.x1]="leftMargin + idx * step + (barWidth / 2)"
        [attr.y1]="height"
        [attr.x2]="leftMargin + idx * step + (barWidth / 2)"
        [attr.y2]="height + 6"
      ></line>

      <text
        class="x label mono"
        [attr.x]="leftMargin + idx * step + (barWidth / 2)"
        [attr.y]="height + 16"
      >
        {{ month[0] | date: 'MMM' }}
      </text>
    </g>

    <g>
      <text class="label" [attr.x]="8" [attr.y]="174">
        {{ total | formatDuration }} ({{ min | date: 'mediumDate' }} - {{ max |
        date: 'mediumDate'}})
      </text>
    </g>
  </svg>
</div>

<hls-stream-time-chart-tooltip
  *ngIf="popperIdx !== -1"
  [value]="months[popperIdx][1]"
  [date]="months[popperIdx][0] | date:'MMMM'"
  [contextElement]="svg"
  [referenceRect]="referenceRect"
>
</hls-stream-time-chart-tooltip>
