@import "~@angular/material/theming";

@mixin vtubers-detail-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ngx-charts {
    .tick {
      fill: mat-color($foreground, secondary-text);
    }

    .gridline-path {
      stroke: mat-color($foreground, divider);
    }
  }
}
