<div class="vtubers-detail">
  <div class="content">
    <div class="info">
      <img class="profile" src="/assets/profiles/{{ vtuber.id }}.jpg" />
      <div class="name">{{ vtuber.name }}</div>
    </div>
    <!-- <div
      class="number"
      fxFlex="60"
      fxFlex.lt-sm="100"
      fxLayout="column"
      fxLayoutAlign="space-around"
    >
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div>
          <div class="value">{{ youtubeStats.subs | number }}</div>
          <div class="caption">YouTube 訂閱數</div>
        </div>
        <div>
          <div class="value">{{ bilibiliStats.subs | number }}</div>
          <div class="caption">Bilibili 訂閱數</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div>
          <div class="value">{{ youtubeStats.views | number }}</div>
          <div class="caption">YouTube 播放數</div>
        </div>
        <div>
          <div class="value">{{ bilibiliStats.views | number }}</div>
          <div class="caption">Bilibili 播放數</div>
        </div>
      </div>
    </div>
  </div> -->
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div class="chart" fxFlex="50" fxFlex.lt-md="100">
        <hs-area-chart
          [youtube]="true"
          [results]="youtubeSubs"
          [xAxisTicks]="xAxisTicks"
          [dateTickFormatting]="dateTickFormatting"
          [label]="'YouTube 訂閱'"
          [xScaleMin]="xScaleMin"
          [xScaleMax]="xScaleMax"
        ></hs-area-chart>
      </div>

      <div class="chart" fxFlex="50" fxFlex.lt-md="100">
        <hs-area-chart
          [youtube]="false"
          [results]="bilibiliSubs"
          [xAxisTicks]="xAxisTicks"
          [dateTickFormatting]="dateTickFormatting"
          [label]="'Bilibili 訂閱'"
          [xScaleMin]="xScaleMin"
          [xScaleMax]="xScaleMax"
        ></hs-area-chart>
      </div>

      <div class="chart" fxFlex="50" fxFlex.lt-md="100">
        <hs-area-chart
          [youtube]="true"
          [results]="youtubeViews"
          [xAxisTicks]="xAxisTicks"
          [dateTickFormatting]="dateTickFormatting"
          [label]="'YouTube 播放'"
          [xScaleMin]="xScaleMin"
          [xScaleMax]="xScaleMax"
        ></hs-area-chart>
      </div>

      <div class="chart" fxFlex="50" fxFlex.lt-md="100">
        <hs-area-chart
          [youtube]="false"
          [results]="bilibiliViews"
          [xAxisTicks]="xAxisTicks"
          [dateTickFormatting]="dateTickFormatting"
          [label]="'Bilibili 播放'"
          [xScaleMin]="xScaleMin"
          [xScaleMax]="xScaleMax"
        ></hs-area-chart>
      </div>
    </div>
  </div>
</div>
