<div class="bilibili-channel">
  <div class="submenu" fxLayout="row" fxLayoutAlign="space-between center">
    <div></div>
    <div class="updated-at" i18n="@@updatedAt">
      Updated at {{ updatedAt | format: "MM/DD HH:mm" }}
    </div>
  </div>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      [trackBy]="trackBy"
      matSort
      matSortActive="subscriberCount"
      matSortDirection="desc"
      matSortDisableClear
    >
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <img
            class="profile"
            src="/assets/thumbnail/{{ row.vtuberId }}.jpg"
            [routerLink]="['/vtuber', row.vtuberId]"
          />
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n="@@name">Name</th>
        <td mat-cell *matCellDef="let row" lang="jp">
          {{ row.vtuberId | name }}
        </td>
        <td mat-footer-cell *matFooterCellDef i18n="@@total">Total</td>
      </ng-container>

      <ng-container matColumnDef="subscriberCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@subscribers"
        >
          Subscribers
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.subscriberCount | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalSubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dailySubscriberCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@lastDay">
          Last Day
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [coloredNumber]="row.dailySubscriberCount"
        >
          {{ row.dailySubscriberCount | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalDailySubs">
          {{ totalDailySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weeklySubscriberCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@last7Days"
        >
          Last 7 Days
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [coloredNumber]="row.weeklySubscriberCount"
        >
          {{ row.weeklySubscriberCount | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalWeeklySubs">
          {{ totalWeeklySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="monthlySubscriberCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@last30Days"
        >
          Last 30 Days
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [coloredNumber]="row.monthlySubscriberCount"
        >
          {{ row.monthlySubscriberCount | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalMonthlySubs"
        >
          {{ totalMonthlySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="viewCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@views">
          Views
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.viewCount | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dailyViewCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@lastDay">
          Last Day
        </th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.dailyViewCount">
          {{ row.dailyViewCount | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalDailyViews">
          {{ totalDailyViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weeklyViewCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@last7Days"
        >
          Last 7 Days
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [coloredNumber]="row.weeklyViewCount"
        >
          {{ row.weeklyViewCount | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalWeeklyViews"
        >
          {{ totalWeeklyViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="monthlyViewCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@last30Days"
        >
          Last 30 Days
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [coloredNumber]="row.monthlyViewCount"
        >
          {{ row.monthlyViewCount | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalMonthlyViews"
        >
          {{ totalMonthlyViews | number }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
</div>
