<ng-container *ngIf="channels().length == 0; else table">
  <vts-select-vtuber-alert />
</ng-container>

<ng-template #table>
  <ng-container *ngIf="result() as result">
    <div
      class="flex flex-row items-center p-4 gap-2 overflow-y-hidden overflow-x-auto"
    >
      <vts-platform-filter hideTwitch (onChange)="platform.set($event)" />

      <vts-vtuber-filter (selectedChange)="vtuberSelected.set($event)" />

      <div class="flex-1"></div>

      <vts-refresh-button
        [isLoading]="result.isFetching"
        [refresh]="result.refetch"
        [updatedAt]="updatedAt()"
      />
    </div>

    <div class="px-4 overflow-x-auto">
      <vts-channel-stats-table
        *ngIf="!result.error"
        valueLabel="Views"
        [dataSource]="data()"
        [loading]="result.isFetching"
      />
    </div>

    <!-- TODO: display error -->
  </ng-container>
</ng-template>
