@import "~@angular/material/theming";

@mixin streams-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .title:after {
    background: linear-gradient(
      to right,
      transparent,
      mat-color($background, card) 100%
    );
  }

  .viewers,
  .updated-at {
    color: mat-color($foreground, secondary-text);
  }
}
