version: 2
updates:
  - package-ecosystem: cargo
    directory: "/server"
    schedule:
      interval: weekly
      time: "09:00"
    open-pull-requests-limit: 10
    target-branch: dev

  - package-ecosystem: npm
    directory: "/web"
    schedule:
      interval: weekly
      time: "09:00"
    open-pull-requests-limit: 10
    target-branch: dev
    ignore:
      # angualr-related packages should be managed by angualr-cli
      - dependency-name: "@angualr/*"
      - dependency-name: "rxjs"
