[Unit]
Description=HoloStats - RSS

[Service]
Type=simple
ExecStart=/root/server/target/release/rss_refresh
Restart=on-failure
RuntimeMaxSec=5

[Install]
WantedBy=multi-user.target
