@use '~@angular/material' as mat;

@mixin channel-stats-chart-theme($theme) {
  $background: map-get($theme, "background");
  $foreground: map-get($theme, "foreground");

  .channel-stats-chart {
    .title {
      color: mat.get-color-from-palette($foreground, "secondary-text");
    }
  }
}
