<ng-container *ngIf="channelsQry | useQry as result">
  <div class="mx-auto max-w-7xl overflow-x-auto flex flex-row items-center p-4">
    <div class="flex-1">
      <hls-filter-group
        (clear)="onClear()"
        [displayDateRange]="false"
        (vtuberChanged)="onVTuberChange($event)"
      >
      </hls-filter-group>
    </div>

    <button
      mat-icon-button
      [disabled]="result.isFetching"
      (click)="result.refetch()"
      [matTooltip]="
        result.isFetching ? 'Loading...' :
        'Updated at ' + (result.data.updatedAt | date: 'MM/dd HH:mm')
      "
      aria-label="Refresh"
    >
      <mat-icon
        [class.animate-spin]="result.isFetching"
        svgIcon="sync"
      ></mat-icon>
    </button>
  </div>

  <div class="mx-auto overflow-x-auto max-w-7xl px-4">
    <hls-channel-table
      *ngIf="!result.isError"
      [dataSource]="result.data?.channels"
      [loading]="result.isFetching"
    ></hls-channel-table>
  </div>

  <!-- TODO: display error -->
</ng-container>
