<h4 class="settings-row mat-subheading-2" fxLayout="row">
  切換夜間模式
  <span class="spacer"></span>
  <mat-slide-toggle
    [checked]="config.enableDarkMode"
    (toggleChange)="config.toggleDarkMode()"
  ></mat-slide-toggle>
</h4>

<h4 class="settings-row mat-subheading-2">
  已選取的 VTuber <b>({{ config.selectedVTubers.size }}/{{ count }})</b>：
</h4>

<div class="tree-row">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox
        [checked]="vtuberSelected(node.id)"
        (change)="toggleVTuber(node.id)"
      >
        {{ node.name }}
      </mat-checkbox>
    </mat-tree-node>

    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon
          class="mat-icon-rtl-mirror"
          [svgIcon]="
            treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
          "
        >
        </mat-icon>
      </button>
      <mat-checkbox
        [checked]="vtuberGroupAllSelected(node.id)"
        [indeterminate]="vtuberGroupPartiallySelected(node.id)"
        (change)="toggleVTuberGroup(node.id)"
      >
        {{ node.name }}
      </mat-checkbox>
    </mat-tree-node>
  </mat-tree>
</div>
