# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/workers/dist
/workers/worker

# dependencies
/node_modules

# misc
.angular/cache
yarn-error.log
.wrangler

# System Files
.DS_Store
Thumbs.db
