<hls-helmet i18n-title="@@youtubeStream" title="YouTube Stream"></hls-helmet>

<div class="youtube-stream" *ngIf="data$ | async as list">
  <hls-sub-menu>
    <hls-sub-menu-title>
      <hls-filter-group
        (clear)="onClear()"
        (dateRangeChanged)="onDateRangeChange($event)"
        (vtuberChanged)="onVTuberChange($event)"
      >
      </hls-filter-group>
    </hls-sub-menu-title>
    <hls-sub-menu-extra>
      <time
        *ngIf="!list.loading; else shimmer"
        i18n="@@updatedAt"
        [attr.datetime]="list.updatedAt | formatISO"
      >
        Updated at {{ list.updatedAt | date: "MM/dd HH:mm" }}
      </time>

      <ng-template #shimmer>
        <span class="shimmer text" [style.width.px]="120"></span>
      </ng-template>
    </hls-sub-menu-extra>
  </hls-sub-menu>

  <ng-container *ngIf="!(list.refresh && list.loading); else shimmerList">
    <hls-stream-group
      *ngFor="let group of list.streams | groupBy:'startTime'; trackBy: trackBy"
      [group]="group"
    ></hls-stream-group>
  </ng-container>

  <ng-template #shimmerList>
    <ng-container *ngFor="let x of [1, 2]">
      <hls-sub-menu>
        <hls-sub-menu-title>
          <span class="shimmer text" [style.width.px]="42"></span>
        </hls-sub-menu-title>
      </hls-sub-menu>

      <hls-stream-list>
        <hls-stream-item-shimmer
          *ngFor="let stream of [1, 2, 3, 4, 5]"
        ></hls-stream-item-shimmer>
      </hls-stream-list>
    </ng-container>
  </ng-template>

  <hls-loading-spinner
    [hidden]="(list.loading && list.refresh) || list.reachedEnd"
    (reach)="
      list.loading ? null : this.onRechedEnd(list.streams[list.streams.length - 1])
    "
  ></hls-loading-spinner>
</div>
