<div class="table-sub-menu">
  <hls-sub-menu>
    <hls-sub-menu-title>
      <hls-filter-group
        [displayDateRange]="false"
        (clear)="onClear()"
        (vtuberChanged)="onVTuberChange($event)"
      >
      </hls-filter-group>
    </hls-sub-menu-title>
    <hls-sub-menu-extra>
      <time
        *ngIf="!loading; else shimmer"
        i18n="@@updatedAt"
        [attr.datetime]="updatedAt | formatISO"
      >
        Updated at {{ updatedAt | date: "MM/dd HH:mm" }}
      </time>

      <ng-template #shimmer>
        <span class="shimmer text" [style.width.px]="120"></span>
      </ng-template>
    </hls-sub-menu-extra>
  </hls-sub-menu>
</div>

<ng-container *ngIf="!loading; else shimmerTable">
  <hls-channel-table [dataSouce]="dataSource"></hls-channel-table>
</ng-container>

<ng-template #shimmerTable>
  <hls-channel-table-shimmer></hls-channel-table-shimmer>
</ng-template>
