<table
  mat-table
  [dataSource]="data"
  [trackBy]="rowTrackBy"
  matSort
  matSortActive="subscriberCount"
  matSortDirection="desc"
  matSortDisableClear
>
  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <img
        class="profile max-w-none cursor-pointer align-middle rounded-full"
        height="32"
        width="32"
        [ngSrc]="'/assets/thumbnail/' + row.vtuberId + '.jpg'"
        [routerLink]="['/vtuber', row.vtuberId]"
      />
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th class="!text-center" mat-header-cell *matHeaderCellDef i18n="@@name">
      Name
    </th>
    <td class="!text-center whitespace-nowrap" mat-cell *matCellDef="let row">
      {{ row.vtuberId | name }}
    </td>
    <td class="!text-center" mat-footer-cell *matFooterCellDef i18n="@@total">
      Total
    </td>
  </ng-container>

  <ng-container
    *ngFor="let column of dataColumns; trackBy:columnTrackBy"
    [matColumnDef]="column[0]"
  >
    <th
      class="whitespace-nowrap"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    >
      {{column[1]}}
    </th>
    <ng-container *ngIf="!loading; else shimmer"> </ng-container>

    <td
      mat-cell
      *matCellDef="let row"
      class="!text-right font-mono"
      [ngClass]="column[2] && { 'up-color': row[column[0]] > 0, 'down-color': row[column[0]] < 0 }"
    >
      <ng-container *ngIf="!loading; else shimmer">
        {{ row[column[0]] | number }}
      </ng-container>
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      class="!text-right font-mono"
      [ngClass]="column[2] && { 'up-color': getTotal(column[0]) > 0, 'down-color': getTotal(column[0]) < 0 }"
    >
      <ng-container *ngIf="!loading; else shimmer">
        {{ getTotal(column[0]) | number }}
      </ng-container>
    </td>

    <ng-template #shimmer>
      <span class="animate-pulse shimmer text w-20"></span>
    </ng-template>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
