.channel-table {
  overflow-x: auto;
  display: block;
  word-break: keep-all;
  white-space: nowrap;

  .mat-column-profile {
    padding-left: 8px;
    max-width: 64px;
    text-align: center;

    .profile {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
  }

  .mat-column-name.mat-mdc-cell,
  .mat-column-name.mat-mdc-header-cell,
  .mat-column-name.mat-mdc-footer-cell {
    padding: 0 12px;
    word-break: keep-all;
    text-align: center;
  }

  $columns: subscriberCount, dailySubscriberCount, weeklySubscriberCount,
    monthlySubscriberCount, viewCount, dailyViewCount, weeklyViewCount,
    monthlyViewCount;

  @each $columns in $columns {
    .mat-mdc-footer-cell.mat-column-#{$columns},
    .mat-mdc-cell.mat-column-#{$columns} {
      font-family: "Fira Code", monospace;
      text-align: right;
      padding-right: 18px;
    }
  }

  .mat-mdc-row .mat-mdc-cell:last-child {
    padding-right: 42px;
  }

  .mat-mdc-footer-row .mat-mdc-footer-cell:last-child {
    padding-right: 42px;
  }

  .mat-sort-header-container {
    justify-content: flex-end;
  }

  .mat-column-shimmerText {
    padding-left: 12px;
    padding-right: 12px;
  }
}
