.channel-table {
  .mat-column-profile {
    padding-left: 8px;
    max-width: 64px;
    text-align: center;

    .profile {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .mat-mdc-row .mat-mdc-cell:last-child {
    padding-right: 42px;
  }

  .mat-mdc-footer-row .mat-mdc-footer-cell:last-child {
    padding-right: 42px;
  }

  .mat-sort-header-container {
    justify-content: flex-end;
  }
}
