@use '~@angular/material' as mat;
@use 'sass:map';

$hs-typography-config: mat.define-typography-config();

$hs-light-theme: map.deep-merge(
  mat.define-light-theme(
    (
      color: (
        primary: mat.$blue-gray-palette,
        accent: mat.$blue-gray-palette,
      ),
    )
  ),
  (
    background: (
      card: white,
    ),
    color: (
      background: (
        background: #f9f9f9,
      ),
    ),
  )
);

$hs-dark-theme: map.deep-merge(
  mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$blue-gray-palette, 300),
        accent: mat.define-palette(mat.$blue-gray-palette, 300),
      ),
    )
  ),
  (
    background: (
      card: #282828,
    ),
    color: (
      background: (
        background: #1f1f1f,
      ),
    ),
  )
);
