@import "~@angular/material/theming";

// layout
@import "src/app/layout/header/header-theme";
@import "src/app/layout/sidenav/sidenav-theme";

// components
@import "src/app/components/apx-chart/apx-chart-theme";
@import "src/app/components/big-number/big-number-theme";
@import "src/app/components/date-select/date-select-theme";
@import "src/app/components/stream-summary/stream-summary-theme";
@import "src/app/components/stream-item/stream-item-theme";
@import "src/app/components/channel-table/channel-table-theme";
@import "src/app/components/sub-menu/sub-menu-theme";
@import "src/app/components/channel-stats/channel-stats-theme";
@import "src/app/components/channel-stats-chart/channel-stats-chart-theme";

// pages
@import "src/app/pages/not-found/not-found-theme";
@import "src/app/pages/settings/settings-theme";

@include mat-ripple();
@include cdk-a11y();
@include cdk-overlay();
@include cdk-text-field();

@mixin hs-theme($theme) {
  @include global-theme($theme);
  @include material-theme($theme);
  @include stream-item-theme($theme);
  @include stream-summary-theme($theme);
  @include channel-table-theme($theme);
  @include sub-menu-theme($theme);
  @include sidenav-theme($theme);
  @include header-theme($theme);
  @include not-found-theme($theme);
  @include big-number-theme($theme);
  @include channel-stats-theme($theme);
  @include channel-stats-chart-theme($theme);
  @include apx-chart-theme($theme);
  @include date-select-theme($theme);
}

@mixin hs-typography($config) {
  @include material-typography($config);
  @include not-found-typography($config);
  @include stream-item-typography($config);
  @include stream-summary-typography($config);
  @include sub-menu-typography($config);
  @include sidenav-typography($config);
  @include settings-typography($config);
  @include big-number-typography($config);
  @include channel-stats-typography($config);
  @include apx-chart-typography($config);
}

@include hs-typography($hs-typography-config);

@include hs-theme($hs-light-theme);

.dark {
  @include hs-theme($hs-dark-theme);
}
