@import "../../theme.scss";

$config: mat-typography-config();

.content {
  padding: 0 4px;
}

.updated-at {
  font-size: mat-font-size($config, caption);
  font-weight: mat-font-weight($config, caption);
  text-align: right;
  padding: 8px 16px;
}

.thumbnail {
  position: relative;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;

  .duration {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
  }

  &:hover {
    .icon {
      display: block;
    }
  }

  .icon {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    height: 28px;
    width: 28px;

    mat-icon {
      padding: 2px;
      margin: 0px;
    }
  }
}

.stream {
  padding: 0 4px;
}

.title {
  position: relative;
  line-height: 1.2em;
  height: 2.4em;
  font-size: mat-font-size($config, body-1);
  font-weight: mat-font-weight($config, body-1);
  overflow: hidden;
  padding-top: 12px;

  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 1.3em;
  }
}

.time,
.viewers {
  font-size: mat-font-size($config, caption);
  font-weight: mat-font-weight($config, body-1);
}

.time {
  padding-bottom: 12px;
}

.avg-viewers:after {
  content: "/";
  margin: 4px;
}

.name {
  padding-left: 4px;
}

.name:after {
  content: "•";
  margin: 4px;
}

.profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.view-icon {
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  width: 18px;
  padding: 4px;
}
