<footer class="footer" fxLayoutAlign="start center">
  <a class="link" target="_blank" href="https://github.com/PoiScript/HoloStats">
    GitHub
  </a>
  <span class="separator">/</span>
  <a
    class="link"
    target="_blank"
    href="https://ngabbs.com/read.php?tid=18226586"
  >
    NGA
  </a>
  <span class="spacer"></span>
  <a
    class="commit"
    href="https://github.com/PoiScript/HoloStats/commit/{{ commit_hash }}"
    target="_blank"
  >
    Commit: {{ commit_hash }}
  </a>
</footer>
