@import "../../theme.scss";

$config: mat-typography-config();

.commit {
  text-decoration: none;
  font-size: mat-font-size($config, button);
  font-weight: mat-font-weight($config, button);
  user-select: none;
}

.link {
  text-decoration: none;
  font-size: mat-font-size($config, button);
  font-weight: mat-font-weight($config, button);
  user-select: none;
}

.separator {
  padding: 0 8px;
  font-size: mat-font-size($config, button);
  font-weight: mat-font-weight($config, button);
  user-select: none;
}

.spacer {
  flex: 1 0;
}

.footer {
  padding: 0 20px;
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  height: 40px;
  width: 40px;
}
