@if (channels().length == 0 && csr()) {
  <vts-select-vtuber-alert />
} @else {
  <div
    class="flex flex-row items-center p-4 gap-2 overflow-y-hidden overflow-x-auto"
  >
    @if (kind !== "REVENUE") {
      <vts-platform-filter
        [hideTwitch]="kind === 'VIEW'"
        (onChange)="platformFilter.set($event)"
      />
    }
    <vts-vtuber-filter (selectedChange)="vtuberFilter.set($event)" />
    <div class="flex-1"></div>
    @if (kind === "REVENUE") {
      <vts-currency-filter />
    }
    <vts-refresh-button
      [isLoading]="result.isFetching()"
      (onRefresh)="result.refetch()"
      [updatedAt]="updatedAt()"
    />
  </div>
  <div class="px-4 overflow-x-auto">
    @if (!csr() || result.isFetching()) {
      <vts-loading-table />
    } @else if (!result.isError()) {
      <vts-channel-stats-table [dataSource]="data()" />
    }
  </div>
  <!-- TODO: display error -->
}
