@import "~@angular/material/theming";

@mixin header-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .header {
    background-color: mat-color($background, card);
    border-bottom: solid 1px mat-color($foreground, divider);
  }
}
