<ng-container [ngSwitch]="status">
  <mat-icon
    class="rotate"
    title="Checking for updates"
    *ngSwitchCase="'checking'"
    svgIcon="sync"
  ></mat-icon>

  <mat-icon
    title="Failed to check for updates"
    *ngSwitchCase="'failed'"
    svgIcon="sync_problem"
  ></mat-icon>

  <mat-icon
    title="Up to date"
    *ngSwitchCase="'updated'"
    svgIcon="check_circle"
  ></mat-icon>

  <mat-icon
    title="New update available"
    *ngSwitchCase="'outdated'"
    svgIcon="arrow_circle_down"
  ></mat-icon>
</ng-container>
