.update-indicator {
  display: inline-block;
  vertical-align: middle;

  .mat-icon {
    height: 16px;
    width: 16px;
  }

  .rotate {
    animation: rotate 1s linear infinite;

    @keyframes rotate {
      to {
        transform: rotate(-360deg);
      }
    }
  }
}
