@use "@angular/material" as mat;

@mixin big-number-theme($theme) {
  $foreground: map-get($theme, "foreground");

  .big-number {
    .label {
      color: mat.get-color-from-palette($foreground, "secondary-text");
    }
  }
}

@mixin big-number-typography($theme) {
  $config: mat.get-typography-config($theme);

  .big-number {
    .value {
      font-size: mat.font-size($config, "headline-3");
      font-weight: mat.font-weight($config, "headline-1");
    }

    .label {
      font-size: mat.font-size($config, "caption");
      font-weight: mat.font-weight($config, "body-2");
    }
  }
}
