<div class="youtube-channel">
  <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
    <span class="spacer"></span>
    <div class="updated-at">更新于 {{ updatedAt | date: "MM/dd HH:mm" }}</div>
  </div>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="subs"
      matSortDirection="desc"
      matSortDisableClear
    >
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <img
            class="profile"
            src="/assets/thumbnail/{{ row.id }}.jpg"
            [routerLink]="['/vtuber', row.id]"
          />
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名稱</th>
        <td mat-cell *matCellDef="let row" lang="jp">
          {{ findVTuber(row.id).name }}
        </td>
        <td mat-footer-cell *matFooterCellDef>總計</td>
      </ng-container>

      <ng-container matColumnDef="subs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>YouTube 訂閱</th>
        <td mat-cell *matCellDef="let row">
          {{ row.subs | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalSubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dailySubs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.dailySubs">
          {{ row.dailySubs | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalDailySubs">
          {{ totalDailySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weeklySubs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>週增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.weeklySubs">
          {{ row.weeklySubs | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalWeeklySubs">
          {{ totalWeeklySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="monthlySubs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.monthlySubs">
          {{ row.monthlySubs | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalMonthlySubs"
        >
          {{ totalMonthlySubs | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>YouTube 觀看</th>
        <td mat-cell *matCellDef="let row">
          {{ row.views | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dailyViews">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.dailyViews">
          {{ row.dailyViews | number }}
        </td>
        <td mat-footer-cell *matFooterCellDef [coloredNumber]="totalDailyViews">
          {{ totalDailyViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weeklyViews">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>週增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.weeklyViews">
          {{ row.weeklyViews | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalWeeklyViews"
        >
          {{ totalWeeklyViews | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="monthlyViews">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
        <td mat-cell *matCellDef="let row" [coloredNumber]="row.monthlyViews">
          {{ row.monthlyViews | number }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          [coloredNumber]="totalMonthlyViews"
        >
          {{ totalMonthlyViews | number }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [hidden]="hideRows.includes(row.id)"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
</div>
