<button
  class="!rounded-full"
  mat-stroked-button
  (click)="_isOpen = !_isOpen"
  [color]="selected.size > 0 ? 'primary' : null"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  VTuber

  <ng-container *ngIf="selected.size > 0"> +{{selected.size}}</ng-container>

  <mat-icon
    [color]="selected.size > 0 ? 'primary' : null"
    [class.rotate-180]="_isOpen"
    iconPositionEnd
    svgIcon="menu-down"
  />
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayScrollStrategy]="closeScrollStrategy"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="_isOpen"
  [cdkConnectedOverlayPositions]="positions"
  (overlayOutsideClick)="$event.stopPropagation(); _isOpen = false"
  (attach)="_isOpen = true"
  (detach)="_isOpen = false"
>
  <div
    class="mat-bg-card mat-elevation-z4 rounded m-0 p-0 max-h-80 overflow-y-auto"
    [@transformPanel]="_isOpen"
  >
    <div class="sticky text-sm flex top-0 mat-bg-card px-4 py-2 z-50">
      <div class="flex-1">Filter by vtuber</div>
      <div
        tabindex="0"
        role="button"
        class="cursor-pointer"
        (click)="_isOpen = false; clear()"
      >
        clear
      </div>
    </div>
    <mat-selection-list
      class="-mat-list-density-2 !p-0"
      (selectionChange)="onListChange($event)"
    >
      <mat-list-option
        *ngFor="let vtb of _vtubers"
        [value]="vtb"
        [selected]="selected.has(vtb)"
      >
        <img
          class="!h-8 !w-8"
          height="32"
          width="32"
          matListItemAvatar
          [src]="vtb | avatar"
        />
        {{vtb | name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</ng-template>
