<button
  class="!rounded-full"
  mat-stroked-button
  [color]="selected.size > 0 ? 'primary' : null"
  type="button"
  #filterMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="filterMenu"
  (menuClosed)="searchText.set('')"
>
  VTuber
  @if (selected.size > 0) {
    +{{ selected.size }}
  }

  <mat-icon
    [color]="selected.size > 0 ? 'primary' : null"
    [class.rotate-180]="filterMenuTrigger.menuOpen"
    iconPositionEnd
    svgIcon="menu-down"
  />
</button>

<mat-menu #filterMenu="matMenu" class="mt-2 max-h-80 !min-w-80">
  <ng-template matMenuContent>
    <div
      class="-my-2"
      (click)="$event.stopPropagation(); $event.preventDefault()"
    >
      <div
        class="sticky top-0 flex p-3 mat-border-divider mat-bg-card border-b border-solid border-t-0 border-x-0 gap-1 items-center z-50"
      >
        <mat-icon class="!min-w-5 !h-5 !w-5 mat-secondary-text" svgIcon="search" />

        <input
          class="flex-1 p-0 block bg-transparent outline-0 border-0 mat-secondary-text text-base"
          type="text"
          (input)="handleOnSearchChange($event.target!)"
          placeholder="Search"
          i18n-placeholder="@@search"
        />

        <button
          class="cursor-pointer p-0 bg-transparent outline-0 border-0 mat-secondary-text font-bold"
          (click)="clear()"
          i18n="@@clear"
        >
          Clear
        </button>
      </div>

      <mat-selection-list
        class="-mat-list-density-2 !p-0"
        (selectionChange)="onListChange($event)"
      >
        @for (vtb of _vtubers(); track vtb.vtuberId) {
          <mat-list-option
            [value]="vtb.vtuberId"
            [selected]="selected.has(vtb.vtuberId)"
          >
            <img
              class="!h-8 !w-8"
              [class.grayscale]="!!vtb.retiredAt"
              height="32"
              width="32"
              matListItemAvatar
              [src]="vtb?.thumbnailUrl"
            />
            {{ vtb.vtuberId | name }}
          </mat-list-option>
        } @empty {
          <div class="p-4">
            <i>(no results)</i>
          </div>
        }
      </mat-selection-list>
    </div>
  </ng-template>
</mat-menu>
