@use "@angular/material" as mat;
@use "sass:map";

$vts-typography-config: mat.m2-define-typography-config();

$vts-light-theme: map.deep-merge(
  mat.m2-define-light-theme(
    (
      color: (
        primary: mat.m2-define-palette(mat.$m2-teal-palette),
        accent: mat.m2-define-palette(mat.$m2-blue-gray-palette),
      ),
    )
  ),
  (
    color: (
      "background": (
        "background": #fff,
      ),
    ),
  )
);

$vts-dark-theme: map.deep-merge(
  mat.m2-define-dark-theme(
    (
      color: (
        primary: mat.m2-define-palette(mat.$m2-teal-palette, 300),
        accent: mat.m2-define-palette(mat.$m2-blue-gray-palette, 300),
      ),
    )
  ),
  (
    "color": (
      "background": (
        "background": #202124,
      ),
    ),
  )
);
