@use "@angular/material" as mat;

@include mat.ripple();
@include mat.core();
@include mat.all-component-typographies(mat.define-typography-config());
@include mat.button-theme($hls-light-theme);
@include mat.checkbox-theme($hls-light-theme);
@include mat.core-theme($hls-light-theme);
@include mat.divider-theme($hls-light-theme);
@include mat.icon-theme($hls-light-theme);
@include mat.list-theme($hls-light-theme);
@include mat.menu-theme($hls-light-theme);
@include mat.progress-spinner-theme($hls-light-theme);
@include mat.sidenav-theme($hls-light-theme);
@include mat.card-theme($hls-light-theme);
@include mat.snack-bar-theme($hls-light-theme);
@include mat.select-theme($hls-light-theme);
@include mat.form-field-theme($hls-light-theme);
@include mat.tabs-theme($hls-light-theme);
@include mat.datepicker-theme($hls-light-theme);
@include mat.table-theme($hls-light-theme);
@include mat.tooltip-theme($hls-light-theme);
@include mat.tree-theme($hls-light-theme);
@include mat.chips-theme($hls-light-theme);

body {
  background-color: var(--mat-sidenav-content-background-color);

  $foreground: map-get($hls-light-theme, "foreground");
  color: mat.get-color-from-palette($foreground, "text");
}

.dark {
  $foreground: map-get($hls-dark-theme, "foreground");
  color: mat.get-color-from-palette($foreground, "text");

  @include mat.button-color($hls-dark-theme);
  @include mat.checkbox-color($hls-dark-theme);
  @include mat.core-color($hls-dark-theme);
  @include mat.divider-color($hls-dark-theme);
  @include mat.icon-color($hls-dark-theme);
  @include mat.list-color($hls-dark-theme);
  @include mat.menu-color($hls-dark-theme);
  @include mat.progress-spinner-color($hls-dark-theme);
  @include mat.sidenav-color($hls-dark-theme);
  @include mat.card-color($hls-dark-theme);
  @include mat.snack-bar-color($hls-dark-theme);
  @include mat.select-color($hls-dark-theme);
  @include mat.form-field-color($hls-dark-theme);
  @include mat.tabs-color($hls-dark-theme);
  @include mat.datepicker-color($hls-dark-theme);
  @include mat.table-color($hls-dark-theme);
  @include mat.tooltip-color($hls-dark-theme);
  @include mat.tree-color($hls-dark-theme);
  @include mat.chips-color($hls-dark-theme);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.mat-drawer {
  background-color: var(--mat-sidenav-content-background-color) !important;
}

.mat-mdc-table {
  background-color: var(--mat-sidenav-content-background-color) !important;
}

.mat-tree {
  background-color: var(--mat-sidenav-content-background-color) !important;
}

.mat-drawer-side {
  border: 0 !important;
}
