.youtube-stream {
  .content {
    padding: 0 4px;
    max-width: 960px;
    margin: 0 auto;
  }

  .date-label {
    padding: 8px 16px;
  }

  .submenu {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
  }

  .thumbnail {
    position: relative;
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;

    .duration {
      position: absolute;
      bottom: 4px;
      right: 4px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 2px;
    }

    &:hover {
      .icon {
        display: block;
      }
    }

    .icon {
      display: none;
      position: absolute;
      top: 4px;
      right: 4px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.5);
      height: 28px;
      width: 28px;

      mat-icon {
        padding: 2px;
        margin: 0px;
      }
    }
  }

  .stream {
    padding: 0 4px;
  }

  .title {
    line-height: 16px;
    height: 36px;
    padding: 8px 0;
  }

  .viewers {
    padding-bottom: 4px;

    span {
      vertical-align: middle;
    }
  }

  .name {
    padding-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dot {
    margin: 0 4px;
  }

  .time {
    white-space: nowrap;
  }

  .profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .view-icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    padding: 0 3px;
  }

  .meta {
    padding-bottom: 12px;
  }

  .spinner {
    text-align: center;
    padding: 20px;

    mat-spinner {
      margin: 0 auto;
    }
  }
}
