<div class="youtube-stream">
  <div class="content" *ngFor="let group of streamGroup">
    <div class="date-label">{{ group.day | date: "MM / dd" }}</div>
    <div fxLayout="row wrap">
      <div
        class="stream"
        *ngFor="let stream of group.streams; trackBy: trackBy"
        fxFlex.lt-sm="50"
        fxFlex.sm="33.33"
        fxFlex.gt-sm="25"
      >
        <div
          class="thumbnail"
          [routerLink]="['/stream', stream.streamId]"
          lazyLoad
          [video]="stream.streamId"
        >
          <div class="duration">
            <ng-container *ngIf="stream.endTime; else clock">
              {{ stream.startTime | parseISO | duration: (stream.endTime | parseISO) }}
            </ng-container>
            <ng-template #clock>
              {{ stream.startTime | parseISO | duration: (everySecond$ | async) }}
            </ng-template>
          </div>
          <a
            class="icon"
            href="https://youtu.be/{{ stream.streamId }}"
            target="_blank"
            (click)="$event.stopPropagation()"
          >
            <mat-icon svgIcon="open_in_new"></mat-icon>
          </a>
        </div>
        <div class="title" title="{{ stream.title }}">
          {{ stream.title }}
        </div>
        <div
          class="viewers"
          [ngClass]="{ current: !stream.endTime }"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon
            class="view-icon"
            svgIcon="eye"
            [title]="stream.endTime ? '直播結束' : '正在直播'"
          ></mat-icon>
          <span title="平均同接">
            {{ (stream.averageViewerCount | number) || "----" }}
          </span>
          <span class="separator"> / </span>
          <span title="最高同接">
            {{ (stream.maxViewerCount | number) || "----" }}
          </span>
        </div>
        <div
          class="time"
          fxLayout="row"
          fxLayoutAlign="start center"
          *ngIf="findVTuber(stream.vtuberId); let vtuber"
        >
          <img
            class="profile"
            src="/assets/thumbnail/{{ stream.vtuberId }}.jpg"
          />
          <span class="name">{{ vtuber.name }}</span>
          <span title="{{ stream.start | date: 'yyyy/MM/dd HH:mm:ss' }}">
            {{ stream.startTime | parseISO | distance: (everyMinute$ | async) }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!showSpinner" class="spinner">
    <mat-spinner #spinner [diameter]="30"></mat-spinner>
  </div>
</div>
