<button
  class="mr-2 !rounded-full"
  mat-stroked-button
  (click)="_isOpen = !_isOpen"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  {{ text }}

  <svg
    viewBox="0 0 10 5"
    focusable="false"
    aria-hidden="true"
    class="inline-block w-2 h-1 ml-1 align-middle fill-current"
  >
    <polygon points="0,0 5,5 10,0" />
  </svg>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="_isOpen"
  (overlayOutsideClick)="onClickOutside($event)"
>
  <div
    class="mat-elevation-z4 w-72 mat-bg-card rounded m-0 p-0"
    [@transform]="_isOpen"
  >
    <mat-calendar
      [selected]="_range"
      [comparisonStart]="_range.start"
      [comparisonStart]="_range.end"
      (selectedChange)="onChange($event)"
      [minDate]="_min"
      [maxDate]="_max"
    />
  </div>
</ng-template>
