@use "@angular/material" as mat;

@mixin live-chat-theme($theme) {
  $is-dark-theme: map-get($theme, "is-dark");
  $foreground: map-get($theme, "foreground");

  .live-chat-chart {
    .label {
      fill: mat.get-color-from-palette($foreground, "hint-text");
    }
  }
}

@mixin live-chat-typography($config) {
  .live-chat-chart {
    .label {
      font-size: mat.font-size($config, "caption");
      font-weight: mat.font-weight($config, "body-2");
    }
  }
}
