.live-chat-chart {
  position: relative;
  // slightly larger than topMargin + height + bottomMargin
  // to prevent overflow
  height: 360px;

  .bars {
    position: absolute;
    max-width: min(100vw, 960px);
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .axis {
    top: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
  }

  .line {
    stroke-width: 1px;
  }

  .label {
    user-select: none;
    font-family: "Fira Code", monospace;
  }

  .y.label {
    text-anchor: end;
  }
}

.live-chat-popper {
  position: absolute;
  min-width: 200px;
  color: black;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  table {
    width: 100%;
    border: none;
  }

  .title {
    font-size: 11px;
    color: #80868b;
    padding-bottom: 4px;
    font-weight: 500;
  }

  .label {
    color: #424242;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
  }

  .count {
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    font-weight: 500;
  }

  .hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    padding-top: 4px;
    font-weight: 500;
  }
}
