.live-chat-chart {
  position: relative;
  // slightly larger than topMargin + height + bottomMargin
  // to prevent overflow
  height: 360px;

  .bars {
    position: absolute;
    max-width: min(100vw, 960px);
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .axis {
    top: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
  }

  .label {
    user-select: none;
  }
}
