<hs-sub-menu>
  <hs-sub-menu-title>Live Chat</hs-sub-menu-title>

  <hs-sub-menu-extra>
    <span
      class="time-unit"
      role="button"
      [ngClass]="{ selected: fitContent}"
      (click)="fitContent = true; _render()"
    >
      Fit
    </span>

    <span
      class="time-unit"
      role="button"
      *ngFor="let u of [15000, 30000, 60000, 120000, 300000]"
      [ngClass]="{ selected: !fitContent && timeUnit === u }"
      (click)="timeUnit = u; fitContent = false; _render()"
    >
      {{formatTimeUnit(u)}}
    </span>
  </hs-sub-menu-extra>
</hs-sub-menu>

<div class="live-chat-chart" (mouseleave)="_handleMouseleave()">
  <svg class="axis" [attr.width]="960" [attr.height]="height + topMargin">
    <ng-container *ngFor="let v of scale.ticks(6)">
      <line
        class="line"
        [attr.x1]="0"
        [attr.y1]="topMargin + scale(max - v)"
        [attr.x2]="960"
        [attr.y2]="topMargin + scale(max - v)"
      ></line>
      <text
        *ngIf="v !== 0"
        class="y label"
        [attr.x]="960 - 16"
        [attr.dy]="topMargin + scale(max - v) + 16"
      >
        {{ v | number }}
      </text>
    </ng-container>
  </svg>

  <div
    #bars
    class="bars"
    (mousemove)="_handleMouseover($event)"
    (dblclick)="_handleDblClick($event)"
    (scroll)="popperComp.update()"
  ></div>

  <hs-popper
    #popperComp
    [arrow]="true"
    [placement]="'top'"
    [flip]="{ padding: 8 }"
    [shift]="true"
    [offset]="8"
  >
    <div>From {{ popper.from | date:'HH:mm:ss' }}</div>
    <div>Until {{ popper.to | date:'HH:mm:ss' }}</div>
    <div>Total messages: {{ popper.total | number }}</div>
    <div *ngIf="popper.member > 0">
      Member messages: {{ popper.member | number}}
    </div>
    <div *ngIf="stream.status === 'ended'" class="hint">
      Double click to jump to
    </div>
  </hs-popper>
</div>
