<hs-sub-menu>
  <hs-sub-menu-title>Live Chat</hs-sub-menu-title>

  <hs-sub-menu-extra>
    <span
      class="time-unit"
      role="button"
      [ngClass]="{ selected: fitContent}"
      (click)="fitContent = true; _render()"
    >
      Fit
    </span>

    <span
      class="time-unit"
      role="button"
      *ngFor="let u of [15000, 30000, 60000, 120000, 300000]"
      [ngClass]="{ selected: !fitContent && timeUnit === u }"
      (click)="timeUnit = u; fitContent = false; _render()"
    >
      {{formatTimeUnit(u)}}
    </span>
  </hs-sub-menu-extra>
</hs-sub-menu>

<div class="live-chat-chart" (mouseleave)="_handleMouseleave()">
  <svg class="axis" [attr.width]="960" [attr.height]="height + topMargin">
    <ng-container *ngFor="let v of scale.ticks(6)">
      <line
        class="line"
        [attr.x1]="0"
        [attr.y1]="topMargin + scale(max - v)"
        [attr.x2]="960"
        [attr.y2]="topMargin + scale(max - v)"
      ></line>
      <text
        *ngIf="v !== 0"
        class="y label"
        [attr.x]="960 - 16"
        [attr.dy]="topMargin + scale(max - v) + 16"
      >
        {{ v | number }}
      </text>
    </ng-container>
  </svg>

  <div
    #bars
    class="bars"
    (mousemove)="_handleMouseover($event)"
    (dblclick)="_handleDblClick($event)"
    (scroll)="popperComp.update()"
  ></div>
</div>

<hs-popper
  #popperComp
  [arrow]="false"
  [class]="'live-chat-popper mat-elevation-z3'"
  [placement]="'bottom-start'"
  [flip]="{ padding: 32 }"
  [shift]="true"
  [offset]="{ mainAxis: 16, crossAxis: 16 }"
>
  <div class="title">
    {{ popper.from | date:'HH:mm:ss' }} - {{ popper.to | date:'HH:mm:ss' }}
  </div>

  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="label">Normal</td>
        <td class="count">
          {{ (popper.total - popper.member) | number }} ({{ (popper.total -
          popper.member) / popper.total | percent:'.1' }})
        </td>
      </tr>

      <tr *ngIf="popper.member > 0">
        <td class="label">Member</td>
        <td class="count">
          {{ popper.member | number }} ({{ popper.member / popper.total |
          percent:'.1' }})
        </td>
      </tr>
    </tbody>

    <tfoot *ngIf="popper.member > 0">
      <tr>
        <td class="label" i18n="@@total">Total</td>
        <td class="count">{{ popper.total | number }}</td>
      </tr>
    </tfoot>
  </table>

  <div *ngIf="stream.status === 'ended'" class="hint">
    Double click to jump to
  </div>
</hs-popper>
