@import "../../theme.scss";

$config: mat-typography-config();

.content {
  padding: 32px;
}

.vtuber-row {
  margin: 0 auto;
  text-decoration: none;

  .profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .name {
    padding-left: 8px;
    font-size: mat-font-size($config, body-2);
    font-weight: mat-font-weight($config, body-2);
  }
}

.title {
  font-size: mat-font-size($config, title);
  font-weight: mat-font-weight($config, title);
  padding-bottom: 12px;
  text-decoration: none;
}

.info {
  text-align: center;

  .cover {
    width: 100%;
  }
}

.number {
  height: 192px;
  text-align: center;

  .value {
    font-size: mat-font-size($config, headline);
    font-weight: mat-font-weight($config, display-1);
  }

  .caption {
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
  }
}

.chart {
  height: 250px;
  display: grid;

  .caption {
    text-align: center;
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
    padding-bottom: 24px;
  }
}
