<div class="streams-detail">
  <div class="content" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <a class="title" href="https://youtu.be/{{ stream.streamId }}">
      {{ stream.title }}
    </a>
    <a
      class="info"
      fxFlex="55"
      fxFlex.lt-sm="100"
      href="https://youtu.be/{{ stream.streamId }}"
    >
      <img
        class="cover"
        src="https://img.youtube.com/vi/{{ stream.streamId }}/maxresdefault.jpg"
      />
    </a>
    <div
      class="number"
      fxFlex="45"
      fxFlex.lt-sm="100"
      fxLayout="column"
      fxLayoutAlign="space-around"
    >
      <a
        class="vtuber-row"
        fxLayoutAlign="start center"
        [routerLink]="['/vtuber', stream.vtuberId]"
        *ngIf="findVTuber(stream.vtuberId); let vtuber"
      >
        <img
          class="profile"
          src="/assets/thumbnail/{{ stream.vtuberId }}.jpg"
        />
        <span class="name">{{ vtuber.name }}</span>
      </a>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div flex="50">
          <div class="value">
            {{ stream.startTime | date: "HH:mm:ss" }}
          </div>
          <div class="caption">直播開始</div>
        </div>
        <div flex="50">
          <div class="value">
            <ng-container *ngIf="stream.endTime; else clock">
              {{ stream.startTime | parseISO | duration: (stream.endTime | parseISO) }}
            </ng-container>
            <ng-template #clock>
              {{ stream.startTime | parseISO | duration: (everySecond$ | async) }}
            </ng-template>
          </div>
          <div class="caption">直播持續</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div flex="50">
          <div class="value">
            {{ (stream.averageViewerCount | number) || " ----- " }}
          </div>
          <div class="caption">平均同接</div>
        </div>
        <div flex="50">
          <div class="value">
            {{ (stream.maxViewerCount | number) || " ----- " }}
          </div>
          <div class="caption">最高同接</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart">
    <hs-area-chart
      [youtube]="true"
      [results]="stats"
      [xAxisTicks]="xAxisTicks"
      [dateTickFormatting]="dateTickFormatting"
      [autoScale]="false"
      [xScaleMax]="xScaleMax"
      [xScaleMin]="xScaleMin"
      [timeline]="true"
    ></hs-area-chart>
  </div>
</div>
