@use "@angular/material" as mat;

@mixin stream-time-theme($theme) {
  $is-dark-theme: map-get($theme, "is-dark");
  $foreground: map-get($theme, "foreground");

  .stream-time-chart {
    .label {
      fill: mat.get-color-from-palette($foreground, "secondary-text");
    }
  }
}

@mixin stream-time-typography($config) {
}
