<div class="stream-time">
  <hs-sub-menu>
    <hs-sub-menu-title i18n="@@streamTimes"> Stream Times </hs-sub-menu-title>
  </hs-sub-menu>

  <div
    class="heatmap"
    (mouseleave)="_handleMouseleave()"
    (scroll)="popperComp.hide()"
  >
    <div #heatmap (mouseover)="_handleMouseover($event)"></div>
  </div>

  <hs-popper
    #popperComp
    placement="top"
    [shift]="true"
    [flip]="false"
    [offset]="8"
    [arrow]="true"
  >
    <ng-container *ngIf="!!popper.value; else noStream" i18n="@@streamTimeOn">
      Stream {{ popper.value | formatDuration }} on {{ popper.date |
      date:'mediumDate' }}
    </ng-container>

    <ng-template #noStream i18n="@@noStream">
      No stream on {{ popper.date | date:'mediumDate' }}
    </ng-template>
  </hs-popper>
</div>
