<div class="vtuber-summary">
  <div class="info">
    <img class="profile" src="/assets/profiles/{{ vtuber.id }}.jpg" />
  </div>

  <div class="meta">
    <div class="name">{{ vtuber.id | name }}</div>

    <div class="icons">
      <a
        *ngIf="vtuber.youtube"
        target="_blank"
        href="https://www.youtube.com/channel/{{ vtuber.youtube }}"
      >
        <mat-icon svgIcon="youtube"></mat-icon>
      </a>

      <a
        *ngIf="vtuber.twitter"
        target="_blank"
        href="https://twitter.com/{{ vtuber.twitter }}"
      >
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>

      <a
        *ngIf="vtuber.bilibili"
        target="_blank"
        href="https://space.bilibili.com/{{ vtuber.bilibili }}"
      >
        <mat-icon svgIcon="bilibili"></mat-icon>
      </a>
    </div>
  </div>
</div>

<ng-container *ngIf="!loading; else shimmer">
  <div class="chart-container">
    <hls-channel-stats-chart
      *ngFor="let report of reports"
      [report]="report"
    ></hls-channel-stats-chart>
  </div>
</ng-container>

<ng-template #shimmer>
  <div class="chart-container">
    <ng-container *ngFor="let i of shimmers">
      <hls-channel-stats-chart-shimmer></hls-channel-stats-chart-shimmer>
    </ng-container>
  </div>
</ng-template>
