@import "~@angular/material/theming";

@mixin channel-stats-theme($theme) {
  $background: map-get($theme, "background");
  $foreground: map-get($theme, "foreground");
  $is-dark-theme: map-get($theme, "is-dark");

  .chart-container {
    .toolbar {
      color: mat-color($foreground, "secondary-text");
    }
  }

  $background-shadow: if(
    $is-dark-theme,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );

  .vtuber-summary {
    .mat-icon {
      color: mat-color($foreground, "secondary-text");
    }

    .profile {
      background-color: $background-shadow;
    }
  }
}

@mixin channel-stats-typography($config) {
  .chart-container {
    .toolbar {
      font-size: mat-font-size($config, "body-2");
      font-weight: mat-font-weight($config, "body-2");
    }
  }

  .vtuber-summary {
    .name {
      font-size: mat-font-size($config, "title");
      font-weight: mat-font-weight($config, "title");
    }
  }
}
