@import "~@angular/material/theming";

@mixin youtube-schedule-stream-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .youtube-schedule-stream {
    .menu-label {
      color: mat-color($foreground, secondary-text);
    }
  }
}

@mixin youtube-schedule-stream-typography($config) {
  .youtube-schedule-stream {
    .date-label {
      font-size: mat-font-size($config, title);
      font-weight: mat-font-weight($config, caption);
    }

    .menu-label {
      font-size: mat-font-size($config, caption);
      font-weight: mat-font-weight($config, caption);
    }

    .thumbnail {
      .duration {
        font-size: mat-font-size($config, caption);
        font-weight: mat-font-weight($config, body-2);
      }
    }

    .title {
      font-size: mat-font-size($config, body-1);
      font-weight: mat-font-weight($config, body-1);
    }

    .meta {
      font-size: mat-font-size($config, caption);
      font-weight: mat-font-weight($config, body-1);
    }
  }
}
