<div
  class="mat-border-divider mat-bg-card rounded border border-solid p-4 mb-4"
>
  <div class="flex flex-row items-center mb-4">
    <div class="flex-1 mat-h3 m-0">Overview</div>

    <hls-menu
      [value]="precision"
      (change)="precision = $event"
      [options]="[
        {value:7, label: {days: 7} | formatDayDuration},
        {value:30, label: {days: 30} | formatDayDuration},
        {value:90, label: {days: 90} | formatDayDuration}
      ]"
    />
  </div>

  <ng-container *ngIf="streamReportsQry | useQry as result">
    <ng-container
      *ngFor="let report of result.data.reports; trackBy:trackBy; first as first"
    >
      <mat-divider *ngIf="!first" class="!my-2" />

      <div class="flex flex-row flex-wrap items-center">
        <div class="w-full sm:w-4/12">
          <hls-stats-comparison [kind]="report.kind" [rows]="report.rows" />
        </div>

        <div class="w-full sm:w-8/12">
          <hls-stats-chart
            [loading]="result.isFetching"
            [kind]="report.kind"
            [rows]="report.rows"
            [precision]="precision"
          />
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
