@import "~@angular/material/theming";

@mixin vtuber-filter-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, "background");

  .vtuber-filter-row {
    .text {
      background-color: mat-color($background, "unselected-chip");
    }

    .more,
    .profile {
      background-color: mat-color($background, "background");

      &.selected {
        border: 2px solid mat-color($primary);
      }
    }
  }

  .vtuber-filter-overlay {
    background-color: mat-color($background, "card");
  }
}

@mixin vtuber-filter-typography($config) {
  .vtuber-filter-row {
    .more {
      font-size: mat-font-size($config, "body-2");
      font-weight: mat-font-weight($config, "body-2");
    }
  }
}
