<span class="vtuber-filter-row">
  <ng-container *ngFor="let vtb of _vtubers | slice:0:6; index as i">
    <img
      class="profile"
      [style.zIndex]="10 - i"
      [matTooltip]="vtb | name"
      src="/assets/thumbnail/{{vtb}}.jpg"
      [ngClass]="{ off: i !== 0, selected: hasVTuber(vtb) }"
      (click)="onClick(vtb)"
    />
  </ng-container>

  <ng-container *ngIf="_vtubers.length > 6">
    <span
      class="more off"
      [style.zIndex]="9"
      [ngClass]="{ selected: _listSelected }"
      (click)="this._isOpen = !this._isOpen"
      type="button"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      <span class="text">+{{ _vtubers.length - 6 }}</span>
    </span>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="_isOpen"
      (overlayOutsideClick)="onClickOutside($event)"
    >
      <div class="vtuber-filter-overlay" [@transform]="_isOpen">
        <mat-selection-list (selectionChange)="onListChange($event)">
          <mat-list-option
            [value]="vtb"
            *ngFor="let vtb of _vtubers | slice:6"
            [selected]="hasVTuber(vtb)"
          >
            <img matListAvatar src="/assets/thumbnail/{{vtb}}.jpg" />
            {{vtb | name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </ng-template>
  </ng-container>
</span>
