.stream-item {
  padding: 0 4px;
  box-sizing: border-box;
  display: block;

  // lt-sm
  @media screen and (max-width: 599px) {
    width: 50%;
  }

  // sm
  @media screen and (min-width: 600px) and (max-width: 959px) {
    width: 33.333%;
  }

  // gt-sm
  @media screen and (min-width: 960px) {
    width: 25%;
  }

  .thumbnail {
    display: block;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      display: block;
      padding-bottom: 56.25%;
    }

    .cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }

    .img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: none;

      object-position: center;
      object-fit: cover;
    }

    .duration {
      position: absolute;
      bottom: 4px;
      right: 4px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 2px;
    }

    &:hover {
      .icon {
        display: block;
      }
    }

    .icon {
      display: none;
      position: absolute;
      cursor: pointer;

      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.5);
      height: 28px;
      width: 28px;

      mat-icon {
        padding: 2px;
        margin: 0px;
      }

      &.open {
        top: 4px;
        right: 4px;
      }

      &.playlist {
        top: 36px;
        right: 4px;
      }
    }
  }

  .title {
    line-height: 16px;
    margin: 8px 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
  }

  .viewers {
    margin-bottom: 4px;

    span {
      vertical-align: middle;
    }
  }

  .name {
    margin-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dot {
    margin: 0 4px;
  }

  .time {
    white-space: nowrap;
  }

  .profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .view-icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    padding: 0 3px;
  }

  .meta {
    margin-bottom: 12px;

    flex-direction: row;
    display: flex;
    align-items: center;
  }
}
