<a
  class="thumbnail"
  [routerLink]="stream.status === 'scheduled' ? null : ['/stream', stream.streamId]"
>
  <img
    class="img"
    loading="lazy"
    [attr.src]="stream.thumbnailUrl + '?ngsw-bypass'"
  />

  <div class="duration" [ngSwitch]="stream.status">
    <ng-container *ngSwitchCase="'scheduled'">
      {{ stream.scheduleTime | date: "HH:mm" }}
    </ng-container>

    <ng-container *ngSwitchCase="'live'">
      {{ stream.startTime | duration: (everySecond$ | async) }}
    </ng-container>

    <ng-container *ngSwitchCase="'ended'">
      {{ stream.startTime | duration: stream.endTime }}
    </ng-container>
  </div>

  <a
    class="icon open"
    [attr.href]="'https://youtu.be/' + stream.streamId"
    target="_blank"
    (click)="$event.stopPropagation()"
  >
    <mat-icon svgIcon="open_in_new"></mat-icon>
  </a>

  <span
    *ngIf="showPlaylistIcon"
    class="icon playlist"
    (click)="addToPlaylist($event)"
  >
    <mat-icon svgIcon="playlist_add"></mat-icon>
  </span>
</a>

<a
  class="title"
  [attr.title]="stream.title"
  [routerLink]="stream.status === 'scheduled' ? null : ['/stream', stream.streamId]"
>
  {{ stream.title }}
</a>

<ng-container [ngSwitch]="stream.status">
  <div class="statistics current" *ngSwitchCase="'live'">
    <mat-icon
      svgIcon="eye"
      i18n-title="@@streaming"
      title="Streaming"
    ></mat-icon>

    <span i18n-title="@@averageViewers" title="Average Viewers">
      {{ (stream.averageViewerCount | number) || "----" }}
    </span>

    <span class="separator"> / </span>

    <span i18n-title="@@maximumViewers" title="Maximum Viewers">
      {{ (stream.maxViewerCount | number) || "----" }}
    </span>

    <mat-icon class="likes" svgIcon="thumb_up" title="Like"></mat-icon>

    <span>{{ (stream.maxLikeCount | number) || "----" }}</span>
  </div>

  <div class="statistics" *ngSwitchCase="'ended'">
    <mat-icon
      svgIcon="eye"
      i18n-title="@@streamHasEnded"
      title="Stream has ended"
    ></mat-icon>

    <span i18n-title="@@averageViewers" title="Average Viewers">
      {{ (stream.averageViewerCount | number) || "----" }}
    </span>

    <span class="separator"> / </span>

    <span i18n-title="@@maximumViewers" title="Maximum Viewers">
      {{ (stream.maxViewerCount | number) || "----" }}
    </span>

    <mat-icon class="likes" svgIcon="thumb_up" title="Like"></mat-icon>

    <span>{{ (stream.maxLikeCount | number) || "----" }}</span>
  </div>
</ng-container>

<div class="meta">
  <img
    loading="lazy"
    class="profile"
    [routerLink]="['/vtuber', stream.vtuberId]"
    [attr.src]="'/assets/thumbnail/' + stream.vtuberId + '.jpg'"
  />

  <span class="name" role="link" [routerLink]="['/vtuber', stream.vtuberId]">
    {{ stream.vtuberId | name }}
  </span>

  <span class="dot">•</span>

  <ng-container [ngSwitch]="stream.status">
    <ng-container *ngSwitchCase="'scheduled'">
      <span
        class="time"
        [attr.title]="stream.scheduleTime | date: 'yyyy/MM/dd HH:mm:ss'"
      >
        {{ stream.scheduleTime | distance: (everyMinute$ | async) }}
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="'live'">
      <span
        class="time"
        [attr.title]="stream.startTime | date: 'yyyy/MM/dd HH:mm:ss'"
      >
        {{ stream.startTime | distance: (everyMinute$ | async) }}
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="'ended'">
      <span
        class="time"
        [attr.title]="stream.startTime | date: 'yyyy/MM/dd HH:mm:ss'"
      >
        {{ stream.startTime | distance: (everyMinute$ | async) }}
      </span>
    </ng-container>
  </ng-container>
</div>
