.stream-stats-chart {
  position: relative;
  height: 360px;

  .scroll {
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
  }

  .axis {
    right: 0;
    overflow: hidden;
    position: absolute;
  }

  .line {
    stroke-width: 1px;
  }

  .label {
    user-select: none;
    font-family: "Fira Code", monospace;
  }

  .y.label {
    text-anchor: end;
  }

  .x.label {
    text-anchor: middle;
  }
}

.time-unit {
  margin-left: 8px;
  cursor: pointer;
}

.time-unit.selected {
  font-weight: 600;
}
