.stream-stats-chart {
  position: relative;
  height: 360px;

  .bars {
    position: absolute;
    max-width: min(100vw, 960px);
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .axis {
    right: 0;
    overflow: hidden;
    position: absolute;
  }

  .line {
    stroke-width: 1px;
  }

  .label {
    user-select: none;
    font-family: "Fira Code", monospace;
  }

  .y.label {
    text-anchor: end;
  }
}

.time-unit {
  margin-left: 8px;
  cursor: pointer;
}

.time-unit.selected {
  font-weight: 600;
}
