<hs-sub-menu>
  <hs-sub-menu-title>
    <span i18n="@@streamViewers">Recent Streams</span>
  </hs-sub-menu-title>

  <hs-sub-menu-extra>
    <span
      class="time-unit"
      role="button"
      [ngClass]="{ selected: fitContent }"
      (click)="fitContent = true; _render()"
    >
      Fit
    </span>

    <span
      class="time-unit"
      role="button"
      *ngFor="let u of [15000, 30000, 60000]"
      [ngClass]="{ selected: !fitContent && timeUnit === u }"
      (click)="timeUnit = u; fitContent = false; _render()"
    >
      {{formatTimeUnit(u)}}
    </span>
  </hs-sub-menu-extra>
</hs-sub-menu>

<div class="stream-stats-chart">
  <svg class="axis" width="960" [attr.height]="height + topMargin">
    <ng-container *ngFor="let value of yScale.ticks(6)">
      <line
        class="line"
        [attr.x1]="0"
        [attr.y1]="topMargin + yScale(max - value)"
        [attr.x2]="960"
        [attr.y2]="topMargin + yScale(max - value)"
      ></line>
      <text
        *ngIf="value !== 0"
        class="y label"
        [attr.x]="960 - 16"
        [attr.dy]="topMargin + yScale(max - value) + 16"
      >
        {{ value | number }}
      </text>
    </ng-container>
  </svg>

  <div #bars class="bars" (scroll)="popperComp.update()"></div>

  <hs-popper
    #popperComp
    [placement]="'right'"
    [arrow]="true"
    [shift]="true"
    [offset]="12"
    [flip]="{ padding: 24 }"
  >
    <div>{{ popper.date | date:'yyyy/MM/dd HH:mm:ss' }}</div>
    <div>Stream viewers: {{ popper.value | number }}</div>
    <div *ngIf="stream.status === 'ended'" class="hint">
      Double click to jump to
    </div>
  </hs-popper>
</div>
