<hs-sub-menu>
  <hs-sub-menu-title>
    <span i18n="@@streamViewers">Recent Streams</span>
  </hs-sub-menu-title>

  <hs-sub-menu-extra>
    <span
      class="time-unit"
      role="button"
      [ngClass]="{ selected: fitContent }"
      (click)="fitContent = true; _render()"
    >
      Fit
    </span>

    <span
      class="time-unit"
      role="button"
      *ngFor="let u of [15000, 30000, 60000]"
      [ngClass]="{ selected: !fitContent && timeUnit === u }"
      (click)="timeUnit = u; fitContent = false; _render()"
    >
      {{formatTimeUnit(u)}}
    </span>
  </hs-sub-menu-extra>
</hs-sub-menu>

<div class="stream-stats-chart">
  <hs-chart-axis class="axis" [max]="max"></hs-chart-axis>

  <div #bars class="bars"></div>

  <hs-popper
    #popperComp
    [reference]="popper.reference"
    [options]="popper.options"
  >
    <div>{{ popper.date | date:'HH:mm:ss' }}</div>
    <div>Stream viewers: {{ popper.value | number }}</div>
    <div *ngIf="stream.status === 'ended'" class="hint">
      Double click to jump to
    </div>
  </hs-popper>
</div>
