<hls-helmet [title]="stream?.title"></hls-helmet>

<div class="mx-auto max-w-960" [style.margin-bottom.px]="60">
  <ng-container *ngIf="!loading; else shimmer">
    <hls-stream-summary [stream]="stream"></hls-stream-summary>

    <ng-container *ngFor="let report of reports" [ngSwitch]="report.kind">
      <ng-container *ngSwitchCase="'youtube_live_chat'">
        <hls-live-chat [rows]="report.rows" [stream]="stream"></hls-live-chat>
      </ng-container>

      <ng-container *ngSwitchCase="'youtube_stream_viewer'">
        <hls-stream-stats-chart
          [rows]="report.rows"
          [stream]="stream"
          i18n-name="@@streamViewers"
          name="Stream viewers"
        >
        </hls-stream-stats-chart>
      </ng-container>

      <ng-container *ngSwitchCase="'youtube_stream_like'">
        <hls-stream-stats-chart
          [rows]="report.rows"
          [stream]="stream"
          i18n-name="@@streamLikes"
          name="Stream likes"
        >
        </hls-stream-stats-chart>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #shimmer>
    <hls-stream-summary-shimmer></hls-stream-summary-shimmer>

    <hls-stream-stats-chart-shimmer></hls-stream-stats-chart-shimmer>
  </ng-template>

  <hls-paid-chat-chart [stream]="{ streamId }"></hls-paid-chat-chart>
</div>
