<div class="mat-border-divider rounded border border-solid p-4 mb-4">
  <div class="flex flex-row items-center mb-4">
    <div class="flex-1 mat-h3 m-0">Overview</div>

    @if (channels.length > 1) {
      <vts-menu
        [value]="channelIdx"
        (change)="channelIdx = $event"
        [options]="channelOptions"
      />
    }

    <vts-menu
      [value]="precision"
      (change)="precision = $event"
      [options]="precisionOptions"
    />
  </div>

  <vts-stats-chart
    kind="subscriber"
    [precision]="precision"
    [channel]="channels[channelIdx]"
  />

  @if (channels[channelIdx].platform !== "TWITCH") {
    <mat-divider class="!my-2" />
    <vts-stats-chart
      kind="view"
      [precision]="precision"
      [channel]="channels[channelIdx]"
    />
  }
  @if (channels[channelIdx].platform !== "BILIBILI") {
    <mat-divider class="!my-2" />
    <vts-stats-chart
      kind="revenue"
      [precision]="precision"
      [channel]="channels[channelIdx]"
    />
  }
</div>
