@if (groupBy()) {
  @for (group of items() | groupStreams; track group.name) {
    <div class="mat-h3 font-medium">{{ group.name }}</div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6">
      @for (stream of group.streams; track stream.streamId) {
        <vts-stream-item [stream]="stream" />
      }
    </div>
  }
} @else {
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    @for (stream of items(); track stream.streamId) {
      <vts-stream-item [stream]="stream" />
    }
  </div>
}

<div [hidden]="hideSpinner()" class="m-4">
  <mat-spinner class="mx-auto" #spinner [diameter]="30" />
</div>
