<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="!loading && !!groupBy">
    <ng-container
      *ngFor="let group of items | groupStreams; trackBy:trackByGroup"
    >
      <div class="mat-h3 font-medium">{{ group.name }}</div>

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6">
        <hls-stream-item
          *ngFor="let stream of group.streams; trackBy:trackBy"
          [stream]="stream"
        />
      </div>
    </ng-container>
  </ng-container>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
    *ngSwitchCase="!loading && !groupBy"
  >
    <hls-stream-item
      *ngFor="let stream of items; trackBy:trackBy"
      [stream]="stream"
    />
  </div>

  <ng-container *ngSwitchCase="loading && !!groupBy">
    <ng-container *ngFor="let _ of  [1, 2]">
      <div class="mat-h3">
        <span class="shimmer text w-10"></span>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-6">
        <hls-stream-item-shimmer *ngFor="let _ of [1, 2, 3, 4, 5]" />
      </div>
    </ng-container>
  </ng-container>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
    *ngSwitchCase="loading && !groupBy"
  >
    <hls-stream-item-shimmer *ngFor="let _ of [1, 2, 3, 4, 5]" />
  </div>
</ng-container>

<div [hidden]="loading || hideSpinner" class="m-4">
  <mat-spinner class="mx-auto" #spinner [diameter]="30" />
</div>
