<div class="settings-sheet">
  <mat-nav-list>
    <mat-list-item>
      <img matListAvatar src="/assets/icon-72x72.png" />
      <h3 matLine>HoloSubs with Angular v{{ ANGULAR_VERSION }}</h3>
      <p class="date" matLine>
        <!-- 數據更新: {{ data.updatedAt | date: "yyyy/MM/dd HH:mm:ss" }} -->
      </p>
    </mat-list-item>
    <mat-list-item (click)="toggleDarkTheme()">
      <p matLine>切換夜間模式</p>
    </mat-list-item>
    <mat-list-item (click)="openList()">
      <p matLine>VTuber 列表</p>
    </mat-list-item>
  </mat-nav-list>
</div>
