@import "../../theme.scss";

$foreground: map-get($light-theme, foreground);
$config: mat-typography-config();

.settings-sheet {
  .date {
    color: mat-color($foreground, secondary-text);
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
  }
}

.dark {
  $foreground: map-get($dark-theme, foreground);

  .settings-sheet .date {
    color: mat-color($foreground, secondary-text);
  }
}
