<div class="youtube-schedule-stream" *ngIf="data$ | async as list">
  <hs-sub-menu>
    <hs-sub-menu-extra>
      <time
        *ngIf="!list.loading; else shimmer"
        i18n="@@updatedAt"
        [attr.datetime]="list.updatedAt | formatISO"
      >
        Updated at {{ list.updatedAt | date: "MM/dd HH:mm" }}
      </time>

      <ng-template #shimmer>
        <span class="shimmer text" [style.width.px]="120"></span>
      </ng-template>
    </hs-sub-menu-extra>
  </hs-sub-menu>

  <ng-container *ngIf="!(list.refresh && list.loading); else shimmerList">
    <hs-stream-group
      *ngFor="let group of list.streams | groupBy:'scheduleTime'; trackBy: trackBy"
      [group]="group"
    ></hs-stream-group>
  </ng-container>

  <ng-template #shimmerList>
    <ng-container *ngFor="let x of [1, 2]">
      <hs-sub-menu>
        <hs-sub-menu-title>
          <span class="shimmer text" [style.width.px]="42"></span>
        </hs-sub-menu-title>
      </hs-sub-menu>

      <hs-stream-list>
        <hs-stream-item-shimmer
          *ngFor="let stream of [1, 2, 3, 4, 5]"
        ></hs-stream-item-shimmer>
      </hs-stream-list>
    </ng-container>
  </ng-template>

  <hs-loading-spinner
    [hidden]="(list.loading && list.refresh) || list.reachedEnd"
    (reach)="
      list.loading ? null : this.onRechedEnd(list.streams[list.streams.length - 1])
    "
  ></hs-loading-spinner>
</div>
