<button
  mat-button
  (click)="_isOpen = !_isOpen"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  {{ getBtnText() }}

  <div *ngIf="!_range.start && !_range.end" class="date-filter-arrow"></div>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="_isOpen"
  (overlayOutsideClick)="onClickOutside($event)"
>
  <div class="date-filter-overlay" [@transform]="_isOpen">
    <mat-calendar
      [selected]="_range"
      [comparisonStart]="_range.start"
      [comparisonStart]="_range.end"
      (selectedChange)="onChange($event)"
      [minDate]="_min"
      [maxDate]="_max"
    ></mat-calendar>
  </div>
</ng-template>
