@use "@angular/material" as mat;

.date-filter-overlay {
  width: 300px;
  height: 350px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  @include mat.elevation(4);
}

.date-filter-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  margin: 0 0 0 5px;
}
