@import "~@angular/material/theming";

@mixin vtubers-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-column-profile {
    box-shadow: 12px 0px 20px map-get($background, "card");
  }

  .updated-at {
    color: mat-color($foreground, secondary-text);
  }

  .toolbar {
    .tab-button {
      color: mat-color($foreground, text);
    }

    .tab-button.active:after {
      border-bottom: 1px solid mat-color($foreground, text);
    }
  }
}
