<div class="sticky updated-at">
  更新于 {{ updatedAt | date: "MM/dd HH:mm" }}
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="youtubeSubs"
  matSortDisableClear
  matSortDirection="desc"
>
  <ng-container matColumnDef="profile" sticky>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <img
        class="profile"
        src="/assets/thumbnail/{{ row.id }}.jpg"
        [routerLink]="['/vtuber', row.id]"
      />
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>名稱</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    <td mat-footer-cell *matFooterCellDef>總計</td>
  </ng-container>

  <ng-container matColumnDef="youtubeSubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>YouTube 訂閱</th>
    <td mat-cell *matCellDef="let row">
      {{ row.youtubeStats.subs | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalYoutubeSubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeDailySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.dailySubs"
    >
      {{ row.youtubeStats.dailySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeDailySubs"
    >
      {{ totalYoutubeDailySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeWeeklySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>周增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.weeklySubs"
    >
      {{ row.youtubeStats.weeklySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeWeeklySubs"
    >
      {{ totalYoutubeWeeklySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeMonthlySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.monthlySubs"
    >
      {{ row.youtubeStats.monthlySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeMonthlySubs"
    >
      {{ totalYoutubeMonthlySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>YouTube 觀看</th>
    <td mat-cell *matCellDef="let row">
      {{ row.youtubeStats.views | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalYoutubeViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeDailyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.dailyViews"
    >
      {{ row.youtubeStats.dailyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeDailyViews"
    >
      {{ totalYoutubeDailyViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeWeeklyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>周增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.weeklyViews"
    >
      {{ row.youtubeStats.weeklyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeWeeklyViews"
    >
      {{ totalYoutubeWeeklyViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="youtubeMonthlyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.youtubeStats.monthlyViews"
    >
      {{ row.youtubeStats.monthlyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalYoutubeMonthlyViews"
    >
      {{ totalYoutubeMonthlyViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliSubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bilibili 訂閱</th>
    <td mat-cell *matCellDef="let row">
      {{ row.bilibiliStats.subs | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalBilibiliSubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliDailySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.dailySubs"
    >
      {{ row.bilibiliStats.dailySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliDailySubs"
    >
      {{ totalBilibiliDailySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliWeeklySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>周增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.weeklySubs"
    >
      {{ row.bilibiliStats.weeklySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliWeeklySubs"
    >
      {{ totalBilibiliWeeklySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliMonthlySubs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.monthlySubs"
    >
      {{ row.bilibiliStats.monthlySubs | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliMonthlySubs"
    >
      {{ totalBilibiliMonthlySubs | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bilibili 觀看</th>
    <td mat-cell *matCellDef="let row">
      {{ row.bilibiliStats.views | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalBilibiliViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliDailyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>日增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.dailyViews"
    >
      {{ row.bilibiliStats.dailyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliDailyViews"
    >
      {{ totalBilibiliDailyViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliWeeklyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>周增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.weeklyViews"
    >
      {{ row.bilibiliStats.weeklyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliWeeklyViews"
    >
      {{ totalBilibiliWeeklyViews | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bilibiliMonthlyViews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>月增</th>
    <td
      mat-cell
      *matCellDef="let row"
      [coloredNumber]="row.bilibiliStats.monthlyViews"
    >
      {{ row.bilibiliStats.monthlyViews | number }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [coloredNumber]="totalBilibiliMonthlyViews"
    >
      {{ totalBilibiliMonthlyViews | number }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
