<hs-navbar (menuClick)="drawer.toggle()"></hs-navbar>
<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [mode]="sidenavMode"
    [opened]="sidenavShouldOpen"
    [fixedInViewport]="true"
    [fixedTopGap]="56"
  >
    <hs-sidenav
      (buttonClick)="sidenavShouldOpen ? null : drawer.toggle()"
    ></hs-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="drawer-content">
    <router-outlet *ngIf="!(isRouting$ | async); else loading"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner [diameter]="64"></mat-spinner>
  </div>
</ng-template>
