.drawer-content {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
