@import "../theme.scss";

$config: mat-typography-config();

.drawer-content {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
}

.loading-text {
  font-size: mat-font-size($config, subheading-1);
  font-weight: mat-font-weight($config, body-2);
  color: rgba(255, 255, 255, 0.9);
}
