@use "@angular/material" as mat;

@mixin popper-theme($theme) {
  .hs-popper {
    .hint {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

@mixin popper-typography($config) {
  .hs-popper {
    font-size: mat.font-size($config, "caption");
    font-weight: mat.font-weight($config, "body-2");
  }
}
