@use "sass:math";

.hs-popper {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  left: 0;
  top: 0;
}

$arrow-size: 8px;

.hs-popper-styled {
  display: block;
  user-select: none;
  border: none;
  color: white;
  border-radius: 4px;
  background: rgb(97, 97, 97);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;

  .arrow {
    position: absolute;

    &,
    &::before {
      width: $arrow-size;
      height: $arrow-size;
      position: absolute;
    }

    &::before {
      content: "";
      transform: rotate(45deg);
      background-color: rgb(97, 97, 97);
    }

    &[data-placement^="top"] {
      bottom: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="bottom"] {
      top: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="left"] {
      right: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="right"] {
      left: -#{math.div($arrow-size, 2)};
    }
  }
}
