@use "@angular/material" as mat;

@mixin sub-menu-theme($theme) {
  $foreground: map-get($theme, "foreground");

  .sub-menu {
    .extra {
      color: mat.get-color-from-palette($foreground, "secondary-text");
    }
  }
}

@mixin sub-menu-typography($theme) {
  $config: mat.get-typography-config($theme);

  .sub-menu {
    .title {
      font-size: mat.font-size($config, "subtitle-1");
      font-weight: mat.font-weight($config, "subtitle-1");
    }

    .extra {
      font-size: mat.font-size($config, "caption");
      font-weight: mat.font-weight($config, "caption");
    }
  }
}
