@import "~@angular/material/theming";

@mixin sidenav-theme($theme) {
  $foreground: map-get($theme, foreground);

  .sidenav-container {
    .copyright {
      color: mat-color($foreground, hint-text);
    }

    .link {
      color: mat-color($foreground, secondary-text);
    }
  }
}

@mixin sidenav-typography($config) {
  .sidenav-container {
    .info {
      font-size: mat-font-size($config, button);
      font-weight: mat-font-weight($config, button);
    }

    .copyright {
      font-size: mat-font-size($config, caption);
      font-weight: mat-font-weight($config, caption);
    }
  }
}
