@import "~@angular/material/theming";

@mixin sidenav-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);

  .sidenav-container {
    .copyright {
      color: mat-color($foreground, hint-text);
    }

    .link {
      color: mat-color($foreground, secondary-text);
    }

    .list > a {
      color: if(
        $is-dark-theme,
        map-get(mat-palette($mat-gray), 500),
        map-get(mat-palette($mat-gray), 600)
      );

      &.active {
        color: if(
          $is-dark-theme,
          map-get(mat-palette($mat-gray), 100),
          map-get(mat-palette($mat-gray), 900)
        );
      }
    }
  }
}

@mixin sidenav-typography($config) {
  .sidenav-container {
    .info {
      font-size: mat-font-size($config, button);
      font-weight: mat-font-weight($config, button);
    }

    .copyright {
      font-size: mat-font-size($config, caption);
      font-weight: mat-font-weight($config, caption);
    }
  }
}
