.navbar {
  padding: 0 12px;
  height: 56px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  .logo {
    height: 24px;
    width: 90px;
    padding-left: 12px;

    path {
      fill: currentColor;
    }
  }

  .spacer {
    flex: 1 0;
  }
}
