@import "../../theme.scss";

$config: mat-typography-config();

.link {
  text-decoration: none;
  font-size: mat-font-size($config, button);
  font-weight: mat-font-weight($config, button);
  padding: 0 8px;
  user-select: none;
}

.spacer {
  flex: 1 0;
}

.navbar {
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  height: 40px;
  width: 40px;
}
