<div class="animate-pulse">
  <div class="shimmer rounded aspect-ratio-16-9 mb-2"></div>

  <div class="mb-2 text-[0]">
    <span class="shimmer rounded text mat-subtitle-2 w-full"></span>
    <span class="shimmer rounded text mat-subtitle-2 w-8/12"></span>
  </div>

  <div class="mat-secondary-text mat-small mb-1">
    <span class="shimmer rounded text w-5/12"></span>
    <span class="shimmer rounded text w-5/12 ml-3"></span>
  </div>

  <div class="mat-small flex-row flex items-center">
    <span
      class="rounded-full w-6 h-6 align-middle flex-grow-0 flex-shrink-0 cursor-pointer shimmer"
    >
    </span>
    <span class="shimmer rounded ml-1 text w-5/12"></span>
  </div>
</div>
