<hs-navbar></hs-navbar>
<ng-container *ngIf="bilibiliSubStats.length != 0">
  <!-- Youtube Sub Stats -->
  <ngx-charts-area-chart
    [view]="view"
    [autoScale]="true"
    [scheme]="youtubeColorScheme"
    [results]="youtubeSubStats"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisTicks]="xAxisTicks"
    [xAxisTickFormatting]="dateTickFormatting"
    [yAxisTickFormatting]="numTickFormatting"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [roundDomains]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <p>{{ model.name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model.value | number }} 訂閱</p>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p>{{ model[0].name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model[0].value | number }} 訂閱</p>
    </ng-template>
  </ngx-charts-area-chart>

  <!-- Bilibili Sub Stats -->
  <ngx-charts-area-chart
    [view]="view"
    [autoScale]="true"
    [scheme]="bilibiliColorScheme"
    [results]="bilibiliSubStats"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisTicks]="xAxisTicks"
    [xAxisTickFormatting]="dateTickFormatting"
    [yAxisTickFormatting]="numTickFormatting"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [roundDomains]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <p>{{ model.name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model.value | number }} 訂閱</p>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p>{{ model[0].name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model[0].value | number }} 訂閱</p>
    </ng-template>
  </ngx-charts-area-chart>

  <!-- YouTube View Stats -->
  <ngx-charts-area-chart
    [view]="view"
    [autoScale]="true"
    [scheme]="youtubeColorScheme"
    [results]="youtubeViewStats"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisTicks]="xAxisTicks"
    [xAxisTickFormatting]="dateTickFormatting"
    [yAxisTickFormatting]="numTickFormatting"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [roundDomains]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <p>{{ model.name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model.value | number }} 觀看</p>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p>{{ model[0].name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model[0].value | number }} 觀看</p>
    </ng-template>
  </ngx-charts-area-chart>

  <!-- Bilibili View Stats -->
  <ngx-charts-area-chart
    [view]="view"
    [autoScale]="true"
    [scheme]="bilibiliColorScheme"
    [results]="bilibiliViewStats"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisTicks]="xAxisTicks"
    [xAxisTickFormatting]="dateTickFormatting"
    [yAxisTickFormatting]="numTickFormatting"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [roundDomains]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <p>{{ model.name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model.value | number }} 觀看</p>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p>{{ model[0].name * 1000 | date: "MM/dd HH:mm" }}</p>
      <p>{{ model[0].value | number }} 觀看</p>
    </ng-template>
  </ngx-charts-area-chart>
</ng-container>
