<div class="flex flex-row items-center mb-4">
  <div class="flex-1 mat-h3 m-0" i18n="@@streamTimes">Stream Times</div>

  <span
    class="mat-text-caption ml-2 cursor-pointer"
    tabindex="0"
    *ngFor="let p of ['hour', 'day', 'weekday', 'month']"
    (click)="precision = p"
    [class.font-semibold]="precision === p"
    role="button"
  >
    {{ p | titlecase }}
  </span>
</div>

<div class="mb-4" *ngIf="streamTimesQry | useQry as result">
  <ng-container [ngSwitch]="precision">
    <hls-stream-time-calendar *ngSwitchCase="'day'" [times]="result?.data">
    </hls-stream-time-calendar>

    <hls-stream-time-bar-chart
      *ngSwitchCase="'hour'"
      [times]="result?.data"
      groupBy="hour"
    ></hls-stream-time-bar-chart>

    <hls-stream-time-bar-chart
      *ngSwitchCase="'month'"
      [times]="result?.data"
      groupBy="month"
    ></hls-stream-time-bar-chart>

    <hls-stream-time-bar-chart
      *ngSwitchCase="'weekday'"
      [times]="result?.data"
      groupBy="weekday"
    ></hls-stream-time-bar-chart>
  </ng-container>
</div>

<mat-divider></mat-divider>
