@use "sass:math";

.stream-stats-chart {
  position: relative;
  height: 360px;
  font-family: "Fira Code", monospace;
  user-select: none;

  .scroll {
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
  }

  .line {
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .x-axe {
    text-anchor: middle;
  }

  .y-axe {
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    right: 16px;
    text-anchor: end;
  }

  .stroke {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}

.time-unit {
  margin-left: 8px;
  cursor: pointer;
}

.time-unit.selected {
  font-weight: 600;
}

$arrow-size: 8px;

.stream-stats-chart-tooltip {
  user-select: none;
  border: none;
  color: white;
  border-radius: 4px;
  background: rgb(97, 97, 97);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;

  .hint {
    color: rgba(255, 255, 255, 0.6);
  }

  .arrow {
    position: absolute;

    &,
    &::before {
      width: $arrow-size;
      height: $arrow-size;
      position: absolute;
    }

    &::before {
      content: "";
      transform: rotate(45deg);
      background-color: rgb(97, 97, 97);
    }

    &[data-placement^="top"] {
      bottom: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="bottom"] {
      top: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="left"] {
      right: -#{math.div($arrow-size, 2)};
    }

    &[data-placement^="right"] {
      left: -#{math.div($arrow-size, 2)};
    }
  }
}
