<hls-sub-menu>
  <hls-sub-menu-title>
    <span>{{ name | titlecase }}</span>
  </hls-sub-menu-title>

  <hls-sub-menu-extra>
    <span
      class="time-unit"
      role="button"
      *ngFor="let u of ['fit', 15000, 30000, 60000]"
      [ngClass]="{ selected: unit === u }"
      (click)="unit = u; _render()"
    >
      {{formatTimeUnit(u)}}
    </span>
  </hls-sub-menu-extra>
</hls-sub-menu>

<div class="stream-stats-chart" (dblclick)="jumpTo($event)">
  <svg
    class="axis"
    [attr.width]="960"
    [attr.height]="topMargin + height + bottomMargin"
  >
    <ng-container *ngFor="let value of yTicks">
      <line
        class="line"
        [attr.x1]="0"
        [attr.y1]="yScale(value)"
        [attr.x2]="960"
        [attr.y2]="yScale(value)"
      ></line>
      <text
        *ngIf="value !== 0"
        class="y label"
        [attr.x]="960 - 16"
        [attr.dy]="yScale(value) + 16"
      >
        {{ value | number }}
      </text>
    </ng-container>
  </svg>

  <div class="scroll" cdkScrollable>
    <svg
      #svg
      [attr.width]="width"
      [attr.height]="topMargin + height + bottomMargin"
      holdGesture
      (hold)="tryOpenTooltip($event)"
      (release)="closeTooltip()"
    >
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="1">
          <stop stop-opacity="0.38" stop-color="#ea4335" offset="0"></stop>
          <stop stop-opacity="0" stop-color="#fcdee5" offset="0.9"></stop>
        </linearGradient>
      </defs>

      <path fill="url(#gradient)" [attr.d]="areaPath"></path>

      <path
        [attr.d]="linePath"
        stroke="rgb(234, 67, 53)"
        stroke-width="2"
        fill="none"
      ></path>

      <ng-container *ngFor="let tick of xTicks">
        <line
          class="line"
          [attr.x1]="xScale(rows[tick][0])"
          [attr.y1]="yScale(0)"
          [attr.x2]="xScale(rows[tick][0])"
          [attr.y2]="yScale(0) + 8"
        ></line>

        <text
          class="x label"
          [attr.x]="xScale(rows[tick][0])"
          [attr.y]="yScale(0) + 24"
        >
          {{ rows[tick][0] | date:'HH:mm' }}
        </text>
      </ng-container>

      <line
        class="guideline"
        fill="none"
        [attr.x1]="xScale(rows[dataPointIdx]?.[0] || 0)"
        [attr.y1]="0"
        [attr.x2]="xScale(rows[dataPointIdx]?.[0] || 0)"
        [attr.y2]="yScale(0)"
        stroke-dasharray="1.5, 6"
        stroke-linecap="round"
        stroke-width="2"
      ></line>

      <circle
        [attr.r]="dataPointSize"
        [attr.cx]="xScale(rows[dataPointIdx]?.[0] || 0)"
        [attr.cy]="yScale(rows[dataPointIdx]?.[1] || 0)"
        fill="#ea4335"
      ></circle>
    </svg>
  </div>
</div>

<div
  *ngIf="0 <= dataPointIdx && dataPointIdx < rows.length"
  class="stream-stats-chart-tooltip"
  tooltip
  [tooltipShift]="true"
  [tooltipOffset]="16"
  [tooltipFlip]="{ padding: 24 }"
  [tooltipPlacement]="placement"
  [tooltipArrow]="arrow"
  [tooltipReferenceRect]="referenceRect"
  [tooltipContextElement]="svg"
>
  <div class="arrow" #arrow></div>
  <div>{{ rows[dataPointIdx][0] | date:'yyyy/MM/dd HH:mm:ss' }}</div>
  <div>{{ name | titlecase }}: {{ rows[dataPointIdx][1] | number }}</div>
  <div *ngIf="stream.status === 'ended'" class="hint">
    Double click to jump to
  </div>
</div>
