@use "@angular/material" as mat;

@import "../../../styles/constants";

.keyword-input {
  $foreground: map-get($vts-light-theme, "foreground");
  $primary: map-get($vts-light-theme, "primary");

  border-color: var(--mdc-outlined-button-outline-color, rgba(0, 0, 0, 0.12));
  padding: 0 15px 0 15px;
  border-width: 1px;
  background-color: transparent;
  border-style: solid;
  height: 36px;
  color: mat.get-color-from-palette($foreground, "text");
  font-weight: 500;

  &::placeholder {
    color: mat.get-color-from-palette($foreground, "secondary-text");
  }

  &:focus {
    border-color: mat.get-color-from-palette($primary);
  }
}

.keyword-input:focus {
  outline: none;
}

.dark {
  .keyword-input {
    $foreground: map-get($vts-dark-theme, "foreground");
    $primary: map-get($vts-dark-theme, "primary");

    --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
    color: mat.get-color-from-palette($foreground, "text");

    &::placeholder {
      color: mat.get-color-from-palette($foreground, "secondary-text");
    }

    &:focus {
      border-color: mat.get-color-from-palette($primary);
    }
  }
}
