@import "~@angular/material/theming";

$light-primary: mat-palette($mat-blue-gray);
$light-accent: mat-palette($mat-blue-gray);
$light-theme: mat-light-theme($light-primary, $light-accent);

$dark-primary: mat-palette($mat-blue-gray, 300);
$dark-accent: mat-palette($mat-blue-gray, 300);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);
