@import "~@angular/material/theming";

@import "./theme";
@import "./app/area-chart/area-chart.theme";
@import "./app/navbar/navbar.theme";
@import "./app/footer/footer.theme";
@import "./app/streams-detail/streams-detail.theme";
@import "./app/streams/streams.theme";
@import "./app/vtubers-detail/vtubers-detail.theme";
@import "./app/vtubers/vtubers.theme";

@include mat-core();

@mixin material-theme($theme) {
  @include mat-button-theme($theme);
  @include mat-checkbox-theme($theme);
  @include mat-core-theme($theme);
  @include mat-icon-theme($theme);
  @include mat-list-theme($theme);
  @include mat-progress-spinner-theme($theme);
  @include mat-table-theme($theme);
  @include mat-toolbar-theme($theme);
  @include mat-tree-theme($theme);
  @include mat-slide-toggle-theme($theme);

  @include area-chart-theme($theme);
  @include footer-theme($theme);
  @include navbar-theme($theme);
  @include streams-detail-theme($theme);
  @include streams-theme($theme);
  @include vtubers-detail-theme($theme);
  @include vtubers-theme($theme);
}

@include material-theme($light-theme);

.dark {
  @include material-theme($dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: mat-color(map-get($light-theme, background), card);
  color: mat-color(map-get($light-theme, foreground), text);

  &.dark {
    background-color: mat-color(map-get($dark-theme, background), card);
    color: mat-color(map-get($dark-theme, foreground), text);
  }
}

html,
body {
  height: 100%;
}

$config: mat-typography-config();

.ngx-charts {
  .tick {
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
  }

  .x.axis {
    font-size: mat-font-size($config, body-1);
    font-weight: mat-font-weight($config, body-2);
  }
}

.mat-sort-header-container {
  justify-content: flex-end;
}

.red {
  color: #b00020;
}

.green {
  color: #2e7d32;
}

.dark {
  .red {
    color: #ef9a9a;
  }

  .green {
    color: #81c784;
  }
}
