@import "~@angular/material/theming";

@import "./theme";

$config: mat-typography-config();

@include holostats-typography($config);

$mat-light-theme-background: map-merge(
  $mat-light-theme-background,
  (
    card: white,
    background: #f9f9f9,
  )
);

$mat-dark-theme-background: map-merge(
  $mat-dark-theme-background,
  (
    card: #282828,
    background: #1f1f1f,
  )
);

$light-primary: mat-palette($mat-blue-gray);
$light-accent: mat-palette($mat-blue-gray);
$light-theme: mat-light-theme($light-primary, $light-accent);

$dark-primary: mat-palette($mat-blue-gray, 300);
$dark-accent: mat-palette($mat-blue-gray, 300);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

@include holostats-theme($light-theme);

.dark {
  @include holostats-theme($dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;

  background-color: mat-color(map-get($light-theme, background), card);
  color: mat-color(map-get($light-theme, foreground), text);

  &.dark {
    background-color: mat-color(map-get($dark-theme, background), card);
    color: mat-color(map-get($dark-theme, foreground), text);
  }
}

html,
body {
  height: 100%;
}

.mat-sort-header-container {
  justify-content: flex-end;
}
