@import "~@angular/material/theming";

@import "./theme";
@import "./typography";

$config: mat-typography-config();

@include material-typography($config);

$mat-light-theme-background: map-merge(
  $mat-light-theme-background,
  (
    card: white,
    background: #f9f9f9
  )
);

$mat-dark-theme-background: map-merge(
  $mat-dark-theme-background,
  (
    card: #282828,
    background: #1f1f1f
  )
);

$light-primary: mat-palette($mat-blue-gray);
$light-accent: mat-palette($mat-blue-gray);
$light-theme: mat-light-theme($light-primary, $light-accent);

$dark-primary: mat-palette($mat-blue-gray, 300);
$dark-accent: mat-palette($mat-blue-gray, 300);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

@include material-theme($light-theme);

.dark {
  @include material-theme($dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;

  background-color: mat-color(map-get($light-theme, background), card);
  color: mat-color(map-get($light-theme, foreground), text);

  &.dark {
    background-color: mat-color(map-get($dark-theme, background), card);
    color: mat-color(map-get($dark-theme, foreground), text);
  }
}

html,
body {
  height: 100%;
}

.ngx-charts {
  .tick {
    font-size: mat-font-size($config, caption);
    font-weight: mat-font-weight($config, body-2);
  }

  .x.axis {
    font-size: mat-font-size($config, body-1);
    font-weight: mat-font-weight($config, body-2);
  }
}

.mat-sort-header-container {
  justify-content: flex-end;
}

.red {
  color: #b00020;
}

.green {
  color: #2e7d32;
}

.dark {
  .red {
    color: #ef9a9a;
  }

  .green {
    color: #81c784;
  }
}
