<div class="vtuber-pages">
  <div class="info">
    <img class="profile" src="/assets/profiles/{{ vtuber.id }}.jpg" />
    <div class="name">{{ vtuber.id | name }}</div>
  </div>
  <!-- <div
      class="number"
      fxFlex="60"
      fxFlex.lt-sm="100"
      fxLayout="column"
      fxLayoutAlign="space-around"
    >
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div>
          <div class="value">{{ youtubeStats.subs | number }}</div>
          <div class="caption">YouTube 訂閱數</div>
        </div>
        <div>
          <div class="value">{{ bilibiliStats.subs | number }}</div>
          <div class="caption">Bilibili 訂閱數</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div>
          <div class="value">{{ youtubeStats.views | number }}</div>
          <div class="caption">YouTube 播放數</div>
        </div>
        <div>
          <div class="value">{{ bilibiliStats.views | number }}</div>
          <div class="caption">Bilibili 播放數</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="chart-container">
    <div class="chart">
      <h4 class="chart-title" i18n="@@youtubeSubscribers">
        YouTube Subscribers
      </h4>

      <ng-container *ngIf="!loading; else shimmerChart">
        <hs-area-chart
          [results]="youtubeSubs"
          schemeKey="youtube"
          timeUnit="day"
        ></hs-area-chart>
      </ng-container>
    </div>

    <div class="chart">
      <h4 class="chart-title" i18n="@@bilibiliSubscribers">
        Bilibili Subscribers
      </h4>

      <ng-container *ngIf="!loading; else shimmerChart">
        <hs-area-chart
          [results]="bilibiliSubs"
          schemeKey="bilibili"
          timeUnit="day"
        ></hs-area-chart>
      </ng-container>
    </div>

    <div class="chart">
      <h4 class="chart-title" i18n="@@youtubeViews">YouTube Views</h4>

      <ng-container *ngIf="!loading; else shimmerChart">
        <hs-area-chart
          [results]="youtubeViews"
          schemeKey="youtube"
          timeUnit="day"
        ></hs-area-chart>
      </ng-container>
    </div>

    <div class="chart">
      <h4 class="chart-title" i18n="@@bilibiliViews">Bilibili Views</h4>

      <ng-container *ngIf="!loading; else shimmerChart">
        <hs-area-chart
          [results]="bilibiliViews"
          schemeKey="bilibili"
          timeUnit="day"
        ></hs-area-chart>
      </ng-container>
    </div>
  </div>
</div>

<!-- chart -->
<ng-template #shimmerChart>
  <div class="ngx-chart shimmer"></div>
</ng-template>
