.paid-chat-chart {
  .bars {
    user-select: none;
  }

  .bar {
    fill: #b5204b;
  }

  .x.label {
    text-anchor: middle;
    font-family: "Fira Code", monospace;
  }

  .y.label {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    text-anchor: end;
    dominant-baseline: central;
  }

  .v.label {
    font-size: 14px;
    font-family: "Fira Code", sans-serif;
    dominant-baseline: central;
  }

  .v.label.inverse {
    fill: rgba(255, 255, 255, 0.9);
    text-anchor: end;
  }

  .caption {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
  }
}

.paid-chat-popper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  color: black;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  table {
    width: 100%;
    border: none;
  }

  .title {
    font-size: 11px;
    color: #80868b;
    padding-bottom: 4px;
  }

  .label {
    color: #424242;
    font-size: 13px;
    line-height: 20px;
  }

  .count,
  .amount {
    font-size: 13px;
    line-height: 20px;
    text-align: right;
  }

  .count {
    padding-left: 24px;
  }

  .amount {
    padding-left: 6px;
  }

  .dot {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    opacity: 0.7;
  }
}
