<div class="mb-0 sm:mb-4 flex flex-wrap items-end">
  <div class="w-full sm:w-7/12">
    <a
      class="cover aspect-ratio-16-9"
      [attr.href]="'https://youtu.be/' + stream.streamId"
      target="_blank"
    >
      <img
        class="img rounded absolute w-full h-full object-center object-cover"
        [attr.src]="stream.thumbnailUrl + '?ngsw-bypass'"
      />
    </a>
  </div>

  <div class="box-border py-4 pl-0 sm:pl-4 w-full sm:w-5/12">
    <a
      class="text-inherit no-underline block mb-4 break-words mat-h3"
      [attr.href]="'https://youtu.be/' + stream.streamId"
      target="_blank"
    >
      {{ stream.title }}
    </a>

    <a
      class="text-inherit no-underline inline-block mb-2 mat-body"
      [routerLink]="['/vtuber', stream.vtuberId]"
    >
      <img
        class="rounded-full w-8 h-8 align-middle"
        src="/assets/thumbnail/{{ stream.vtuberId }}.jpg"
      />
      <span class="ml-2 align-middle">{{ stream.vtuberId | name }}</span>
    </a>

    <div class="mb-2">
      <span class="mat-small">Stream Time: </span>
      <span class="mat-body-1">
        {{ stream.startTime | date: 'HH:mm:ss' }} - {{ stream.status === 'ended'
        ? (stream.endTime | date: 'HH:mm:ss') : '' }}
      </span>
    </div>

    <div>
      <span class="mat-small">Duration: </span>
      <span class="mat-body-1">
        {{ stream.status === 'ended' ? (stream.startTime | duration:
        stream.endTime) : (stream.startTime | duration: (everySecond$ |
        async))}}
      </span>
    </div>
  </div>
</div>

<div
  class="grid grid-cols-2 sm:grid-cols-4 gap-4 p-4 mat-border-divider mat-bg-card rounded border border-solid mb-4"
>
  <div>
    <div class="mat-small mat-secondary-text">Avg./max viewers</div>
    <div class="mat-headline-5 m-0">
      {{ avg ? (avg | number) : '---' }}
      <span class="mat-body">/</span>
      {{ max ? (max | number) : '---' }}
    </div>
  </div>
  <div>
    <div class="mat-small mat-secondary-text">
      <span class="align-middle"> Likes / dislikes </span>
      <mat-icon
        class="!h-[12px] !w-[12px] leading-[12px] align-middle"
        svgIcon="information_outline"
        matTooltip="Provided by Return YouTube Dislike"
        matTooltipPosition="above"
      ></mat-icon>
    </div>
    <div class="mat-headline-5 m-0" *ngIf="ratesQry | useQry as result">
      {{ result?.data?.likes | number }}
      <span class="mat-body">/</span>
      {{ result?.data?.dislikes | number }}
    </div>
  </div>
  <div>
    <div class="mat-small mat-secondary-text">Live chat</div>
    <div class="mat-headline-5 m-0">
      {{ liveChatCount ? (liveChatCount | number) : '---' }}
    </div>
  </div>
  <div>
    <div class="mat-small mat-secondary-text">Paid chat</div>
    <div class="mat-headline-5 m-0" *ngIf="liveChatQry | useQry as result">
      {{ (result?.data) ? (result?.data | useCurrency | async) : '---' }}
    </div>
  </div>
</div>
