<hls-sub-menu>
  <hls-sub-menu-title>Paid Live Chat</hls-sub-menu-title>

  <hls-sub-menu-extra> </hls-sub-menu-extra>
</hls-sub-menu>

<div class="paid-chat-chart">
  <div class="caption">{{ sum | number }} items - sum</div>

  <svg
    #svg
    class="bars"
    [attr.width]="width"
    [attr.height]="topMargin + items.length * (innerPadding + barHeight) + bottomMargin"
    holdGesture
    (hold)="tryOpenPopper($event)"
    (release)="closePopper()"
  >
    <ng-container *ngFor="let value of xScale.ticks(8)">
      <line
        class="line"
        [attr.x1]="leftMargin + xScale(value) || 0"
        [attr.y1]="topMargin - innerPadding || 0"
        [attr.x2]="leftMargin + xScale(value) || 0"
        [attr.y2]="topMargin + items.length * (innerPadding + barHeight) || 0"
      ></line>

      <text
        *ngIf="value !== 0"
        class="x label"
        [attr.x]="leftMargin + xScale(value)"
        [attr.y]="topMargin - 16"
      >
        {{ value | number }}
      </text>
    </ng-container>

    <g
      *ngFor="let item of items; index as i; trackBy: trackBy"
      [ngStyle]="{ opacity: (popper.idx === -1 || popper.idx === i) ? 1 : 0.4 }"
    >
      <text
        class="y label"
        [attr.x]="leftMargin - innerPadding"
        [attr.y]="yScale(i) + (barHeight / 2)"
      >
        {{ item[1].currencyCode }}
      </text>

      <rect
        class="bar"
        [@bar]="{ value: true, params: { width: xScale(item[1].total) } }"
        [attr.width]="xScale(item[1].total)"
        [attr.height]="barHeight"
        [attr.x]="leftMargin"
        [attr.y]="yScale(i)"
        rx="2"
        ry="2"
      ></rect>

      <ng-container
        *ngTemplateOutlet="xScale(item[1].total) < width / 2 ? normal : inverse; context: {$implicit: item[1]}"
      ></ng-container>

      <ng-template #normal let-item>
        <text
          class="v label"
          [attr.x]="leftMargin + xScale(item.total) + innerPadding"
          [attr.y]="yScale(i) + (barHeight / 2)"
        >
          {{ item.totalValue | currency:item.currencySymbol:'symbol' }}
        </text>
      </ng-template>

      <ng-template #inverse let-item>
        <text
          class="v label inverse"
          [attr.x]="leftMargin + xScale(item.total) - innerPadding"
          [attr.y]="yScale(i) + (barHeight / 2)"
        >
          {{ item.totalValue | currency:item.currencySymbol:'symbol' }}
        </text>
      </ng-template>
    </g>
  </svg>
</div>

<div
  *ngIf="0 <= popper.idx && popper.idx < items.length"
  class="paid-chat-popper mat-elevation-z3"
  tooltip
  [tooltipFlip]="popper.flip"
  [tooltipShift]="true"
  [tooltipPlacement]="popper.placement"
  [tooltipOffset]="popper.offset"
  [tooltipReferenceRect]="popper.referenceRect"
  [tooltipContextElement]="svg"
>
  <table>
    <div class="title">{{ items[popper.idx][1].currency }}</div>

    <tbody>
      <tr *ngFor="let group of items[popper.idx][1].items">
        <td class="label">
          <span class="dot" [style.background-color]="'#' + group[0]"> </span>
          {{ group[1].name }}
        </td>

        <td class="count">{{ group[1].total | number }}</td>

        <td class="amount">
          {{ group[1].totalValue |
          currency:items[popper.idx][1].currencySymbol:'symbol' }}
        </td>
      </tr>
    </tbody>

    <tfoot *ngIf="items[popper.idx][1].items.length > 1">
      <tr>
        <td class="label" i18n="@@total">Total</td>

        <td class="count">{{ items[popper.idx][1].total | number }}</td>

        <td class="amount">
          {{ items[popper.idx][1].totalValue |
          currency:items[popper.idx][1].currencySymbol:'symbol' }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
