.quotes-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 8px;

  img {
    width: 100%;
  }

  pre {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.2em;
    margin: 0;
    word-wrap: normal;
    padding: 16px;
    margin: 12px 0;
    overflow: auto;
  }

  code {
    font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, "Andale Mono",
      monospace;
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    border: 0;
  }

  .comment {
    font-style: italic;
    color: #969896;
  }
}
