type VTuber = {
  id: string;
  twitter?: string;
  youtube?: string;
  bilibili?: number;
  discord?: string;
  facebook?: string;
  default?: boolean;
};

export type VTuberIds ={% for v in vtubers %}
  | "{{v.id}}"{% endfor %};

export const vtubers: Record<VTuberIds, VTuber> = {{'{'}}{% for v in vtubers %}
  {{v.id}}: {
    id: "{{v.id}}",
    youtube: "{{v.youtube}}",
    twitter: "{{v.twitter}}",
    discord: "{{v.discord}}",
    facebook: "{{v.facebook}}",
    default: {{v.default}},
  },{% endfor %}
};

export type BatchIds ={% for v in batches %}
  | "{{v.id}}"{% endfor %};

type Batch = VTuberIds[];

export const batches: Record<BatchIds, Batch> = {{'{'}}{% for v in batches %}
  "{{v.id}}": {{ v.member }},{% endfor %}
};
